# __Movie Sentiment Analysis__

In [27]:
import pandas as pd
import numpy as np
import re
import contractions
import nltk
import contractions
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import text_preprocessing as tp
import utils
import spacy


from nltk.corpus import stopwords
from nltk.corpus import words
from nltk.stem import WordNetLemmatizer
from flashtext import KeywordProcessor



warnings.filterwarnings("ignore")

## Importing Dataset for Movie Metadata

Use the IMDB dataset containing information about movies. Two different data sources will be utilized in the process of traning the model.

__a. Data Source:__ https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset/

In [28]:
# Open file containing movie metadata
movies_metadata_df = pd.read_csv("./dataset/movies_metadata.csv")
movies_metadata_df.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [29]:
# Open file containing the movie credits, i.e. casts and crews
movies_credits_df = pd.read_csv("./dataset/credits.csv")
movies_credits_df.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [30]:
# Combine the dataframes of movie metadata and credits
movies_metadata_df = pd.merge(movies_metadata_df, movies_credits_df, on=["id"], how="left")
movies_metadata_df.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [31]:
# List all the columns in movie metadata's dataframe
movies_metadata_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew'],
      dtype='object')

In [32]:
# Drop columns that are not relevant
del_columns = ['belongs_to_collection', 'homepage', 'id', 'original_language', 'original_title', 'popularity', 'poster_path', 'adult',
               'overview', 'tagline', 'production_countries', 'spoken_languages', 'status', 'video', 'vote_average', 'vote_count']
movies_metadata_df = movies_metadata_df.drop(del_columns, axis=1)

# Remove 'tt' appended on the IMDB ID
movies_metadata_df['imdb_id'] = movies_metadata_df['imdb_id'].apply(lambda x : x[2:] if isinstance(x, str) and "tt" in x else x)

movies_metadata_df.head(5)

,budget,genres,imdb_id,production_companies,release_date,revenue,runtime,title,cast,crew
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",0114709,"[{'name': 'Pixar Animation Studios', 'id': 3}]",10/30/1995,373554033.0,81.0,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",0113497,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",12/15/1995,262797249.0,104.0,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0113228,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",12/22/1995,0.0,101.0,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",0114885,[{'name': 'Twentieth Century Fox Film Corporat...,12/22/1995,81452156.0,127.0,Waiting to Exhale,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,0,"[{'id': 35, 'name': 'Comedy'}]",0113041,"[{'name': 'Sandollar Productions', 'id': 5842}...",2/10/1995,76578911.0,106.0,Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

__b. Data Source:__ https://www.kaggle.com/datasets/raynardj/imdb-vision-and-nlp/data

In [33]:
# Open another file containing the movie metadata
movies_df = pd.read_csv("./dataset/movies.csv")
movies_df.head(5)

,imdbId,Imdb Link,Title,IMDB Score,Genre,local_image_path
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation;Adventure;Comedy,images/114709_.jpg
1,113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action;Adventure;Family,images/113497_.jpg
2,113277,http://www.imdb.com/title/tt113277,Heat (1995),8.2,Action;Crime;Drama,images/113277_.jpg
3,114319,http://www.imdb.com/title/tt114319,Sabrina (1995),6.3,Comedy;Drama,images/114319_.jpg
4,114576,http://www.imdb.com/title/tt114576,Sudden Death (1995),5.7,Action;Crime;Thriller,images/114576_.jpg

In [34]:
# Rename the column names of movies info by removing the spaces and converting to lower case
movies_df = movies_df.rename(columns={"imdbId" : "imdb_id", "Imdb Link" : "imbd_link", "Title" : "movie", "IMDB Score" : "imdb_score", "Genre" : "genre"})
print(movies_df.columns)

Index(['imdb_id', 'imbd_link', 'movie', 'imdb_score', 'genre',
       'local_image_path'],
      dtype='object')

In [35]:
# Drop columns that are not relevant
del_columns = ['imbd_link', 'imdb_score', 'local_image_path']

movies_df = movies_df.drop(columns=del_columns, axis=1)
movies_df.head(5)

   imdb_id                movie                       genre
0   114709     Toy Story (1995)  Animation;Adventure;Comedy
1   113497       Jumanji (1995)     Action;Adventure;Family
2   113277          Heat (1995)          Action;Crime;Drama
3   114319       Sabrina (1995)                Comedy;Drama
4   114576  Sudden Death (1995)       Action;Crime;Thriller

In [36]:
# Merge two different datasets for movies metadata

movies_metadata_df['imdb_id'] = movies_metadata_df['imdb_id'].fillna(0) # fixed errors on NaN values when converting to int data type
movies_metadata_df['imdb_id'] = movies_metadata_df['imdb_id'].astype(int)

movies_metadata_df = pd.merge(movies_metadata_df, movies_df, on=["imdb_id"], how="right")
movies_metadata_df.head(5)

,budget,genres,imdb_id,production_companies,release_date,revenue,runtime,title,cast,crew,movie,genre
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",114709,"[{'name': 'Pixar Animation Studios', 'id': 3}]",10/30/1995,373554033.0,81.0,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Toy Story (1995),Animation;Adventure;Comedy
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",113497,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",12/15/1995,262797249.0,104.0,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Jumanji (1995),Action;Adventure;Family
2,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",113277,"[{'name': 'Regency Enterprises', 'id': 508}, {...",12/15/1995,187436818.0,170.0,Heat,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",Heat (1995),Action;Crime;Drama
3,58000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",114319,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",12/15/1995,0.0,127.0,Sabrina,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",Sabrina (1995),Comedy;Drama
4,35000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",114576,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",12/22/1995,64350171.0,106.0,Sudden Death,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",Sudden Death (1995),Action;Crime;Thriller

## Importing Dataset for Movie Reviews

Use the IMDB dataset for movie reviews.

__Data Source:__ https://www.kaggle.com/datasets/raynardj/imdb-vision-and-nlp/data

In [37]:
# Open the file containing the movie reviews
reviews_df = pd.read_csv("./dataset/reviews.csv")
reviews_df.head(5)

,review_id,reviewer,movie,rating,review_summary,review_date,spoiler_tag,review_detail,helpful
0,rw1133942,OriginalMovieBuff21,Kill Bill: Vol. 2 (2004),8.0,Good follow up that answers all the questions,24 July 2005,0,"After seeing Tarantino's Kill Bill Vol: 1, I g...","['0', '1']"
1,rw1133959,lost-in-limbo,Feardotcom (2002),3.0,"""I couldn't make much sense of it myself"". Too...",24 July 2005,0,There's a Website called FearDotCom and anyone...,"['1', '4']"

In [38]:
# Merge the movie metadata (from the same kaggle source) and reviews
movie_reviews_df = pd.merge(movies_df, reviews_df, on=["movie"], how="inner")
movie_reviews_df.head(5)

,imdb_id,movie,genre,review_id,reviewer,rating,review_summary,review_date,spoiler_tag,review_detail,helpful
0,295254,Feardotcom (2002),Crime;Horror;Thriller,rw1133959,lost-in-limbo,3.0,"""I couldn't make much sense of it myself"". Too...",24 July 2005,0,There's a Website called FearDotCom and anyone...,"['1', '4']"
1,378194,Kill Bill: Vol. 2 (2004),Action;Crime;Drama,rw1133942,OriginalMovieBuff21,8.0,Good follow up that answers all the questions,24 July 2005,0,"After seeing Tarantino's Kill Bill Vol: 1, I g...","['0', '1']"

In [39]:
# Drop columns that are not relevant, including the movie and genre. IMDB ID can be used to associate 
# review records with movie metadata
del_columns = ['movie', 'genre', 'review_id', 'reviewer', 'spoiler_tag', 'helpful', 'rating']

movie_reviews_df = movie_reviews_df.drop(columns=del_columns, axis=1)
movie_reviews_df.head(5)

,imdb_id,review_summary,review_date,review_detail
0,295254,"""I couldn't make much sense of it myself"". Too...",24 July 2005,There's a Website called FearDotCom and anyone...
1,378194,Good follow up that answers all the questions,24 July 2005,"After seeing Tarantino's Kill Bill Vol: 1, I g..."

## Exploratory Data Analysis

Check and resolve duplicate records

In [40]:
# Drop duplicate records in movies metadata
print(f"Record count before removing duplicates => {movies_metadata_df.shape[0]}")
movies_metadata_df.drop_duplicates(inplace=True)
print(f"Record count after removing duplicates  => {movies_metadata_df.shape[0]}")

Record count before removing duplicates => 4174
Record count after removing duplicates  => 4071

In [41]:
# Drop duplicate records in movies reviews
print(f"Record count before removing duplicates => {movie_reviews_df.shape[0]}")
movie_reviews_df.drop_duplicates(inplace=True)
print(f"Record count after removing duplicates  => {movie_reviews_df.shape[0]}")

Record count before removing duplicates => 2
Record count after removing duplicates  => 2

Check and resolve missing values for `movie metadata`

In [42]:
# Check for missing values in movies metadata
movies_metadata_df.isna().sum()

budget                  3
genres                  3
imdb_id                 0
production_companies    3
release_date            3
revenue                 3
runtime                 3
title                   3
cast                    3
crew                    3
movie                   0
genre                   0
dtype: int64

In [43]:
# List of movies with missing information
movies_metadata_df[movies_metadata_df['title'].isna()]

,budget,genres,imdb_id,production_companies,release_date,revenue,runtime,title,cast,crew,movie,genre
2780,NaN,NaN,462322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Grindhouse (2007),Action;Horror;Thriller
3521,NaN,NaN,448694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Puss in Boots (2011),Animation;Action;Adventure
3793,NaN,NaN,1937390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nymphomaniac: Vol. I (2013),Drama

In [44]:
# Drop all movies with missing information
movies_metadata_df.dropna(inplace=True, axis=0)
movies_metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4068 entries, 0 to 4173
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4068 non-null   float64
 1   genres                4068 non-null   object
 2   imdb_id               4068 non-null   int64
 3   production_companies  4068 non-null   object
 4   release_date          4068 non-null   object
 5   revenue               4068 non-null   float64
 6   runtime               4068 non-null   float64
 7   title                 4068 non-null   object
 8   cast                  4068 non-null   object
 9   crew                  4068 non-null   object
 10  movie                 4068 non-null   object
 11  genre                 4068 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 413.2+ KB

Check and resolve missing values for `movie reviews`

In [45]:
# Check for missing values in movies reviews
movie_reviews_df.isna().sum()

imdb_id           0
review_summary    0
review_date       0
review_detail     0
dtype: int64

In [46]:
# Replace all missing values in review summary and detail with a blank
movie_reviews_df[['review_summary', 'review_detail']] = movie_reviews_df[['review_summary', 'review_detail']].fillna('')
movie_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         2 non-null      int64
 1   review_summary  2 non-null      object
 2   review_date     2 non-null      object
 3   review_detail   2 non-null      object
dtypes: int64(1), object(3)
memory usage: 80.0+ bytes

#### __Data Wrangling and Visualizations__:

Conduct data wrangling on `movie metadata` to transform and structure data into a desired format

In [47]:
# Separate movie release year from the title
pattern_year = r'\((\d{4})\)$'
movies_metadata_df['release_year'] = movies_metadata_df['movie'].str.extract(pattern_year).astype(int)
movies_metadata_df['movie'] = movies_metadata_df['movie'].str.replace(pattern_year, '', regex=True).str.strip()
movies_metadata_df[['movie', 'release_year']].head(5)

# Drop columns containing duplicate movie information
dup_columns = ['genres', 'release_date', 'title']
movies_metadata_df = movies_metadata_df.drop(columns=dup_columns, axis=1)

# Rearrange the order of columns
desired_order = ['imdb_id', 'movie', 'release_year', 'genre', 'runtime', 'budget', 'revenue', 'production_companies', 'cast', 'crew']
movies_metadata_df = movies_metadata_df[desired_order]

movies_metadata_df.head(5)

,imdb_id,movie,release_year,genre,runtime,budget,revenue,production_companies,cast,crew
0,114709,Toy Story,1995,Animation;Adventure;Comedy,81.0,30000000.0,373554033.0,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,113497,Jumanji,1995,Action;Adventure;Family,104.0,65000000.0,262797249.0,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,113277,Heat,1995,Action;Crime;Drama,170.0,60000000.0,187436818.0,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
3,114319,Sabrina,1995,Comedy;Drama,127.0,58000000.0,0.0,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."
4,114576,Sudden Death,1995,Action;Crime;Thriller,106.0,35000000.0,64350171.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de..."

In [48]:
# Convert genre into list data type
movies_metadata_df['genre'] = movies_metadata_df['genre'].apply(lambda x : x.split(";"))

# Convert to a list of production companies
movies_metadata_df['production_companies'] = movies_metadata_df['production_companies'].apply(lambda x : utils.convert_str_to_dict(x, ['name']))
movies_metadata_df['production_companies'] = movies_metadata_df['production_companies'].apply(lambda list_of_dicts : [value for d in list_of_dicts for value in d.values()])

# TODO: Need to fix the issue on cast and crew with names containing single quotation
# movies_metadata_df['cast'] = movies_metadata_df['cast'].apply(lambda x : utils.convert_str_to_dict(x, ['character', 'name']))

movies_metadata_df[['genre', 'production_companies', 'cast', 'crew']].head(5)

,genre,production_companies,cast,crew
0,"[Animation, Adventure, Comedy]",[Pixar Animation Studios],"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[Action, Adventure, Family]","[TriStar Pictures, Teitler Film, Interscope Co...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[Action, Crime, Drama]","[Regency Enterprises, Forward Pass, Warner Bros.]","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
3,"[Comedy, Drama]","[Paramount Pictures, Scott Rudin Productions, ...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."
4,"[Action, Crime, Thriller]","[Universal Pictures, Imperial Entertainment, S...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de..."

Conduct data wrangling on `movie review` to transform and structure data into a desired format

In [49]:
# Get only the year the review was created
movie_reviews_df['review_year'] = pd.to_datetime(movie_reviews_df['review_date']).dt.year
movie_reviews_df = movie_reviews_df.drop(columns=['review_date'], axis=1)

movie_reviews_df.head(5)

,imdb_id,review_summary,review_detail,review_year
0,295254,"""I couldn't make much sense of it myself"". Too...",There's a Website called FearDotCom and anyone...,2005
1,378194,Good follow up that answers all the questions,"After seeing Tarantino's Kill Bill Vol: 1, I g...",2005

Perform additional analysis of the data and create visual representations to gain a better understanding of the movie metadata and reviews. This information provides insights on trends and patterns in the movie data, which might be important especially on the reports that will be provided to the client.

In [50]:
# Show statistical summary of movie metadata and reviews
pd.merge(movies_metadata_df, movie_reviews_df, on=["imdb_id"], how="inner").describe()

,imdb_id,release_year,runtime,budget,revenue,review_year
count,2.000000,2.000000,2.000000,2.000000e+00,2.000000e+00,2.0
mean,336724.000000,2003.000000,118.500000,3.500000e+07,8.553074e+07,2005.0
std,58647.436432,1.414214,24.748737,7.071068e+06,9.422724e+07,0.0
min,295254.000000,2002.000000,101.000000,3.000000e+07,1.890202e+07,2005.0
25%,315989.000000,2002.500000,109.750000,3.250000e+07,5.221638e+07,2005.0
50%,336724.000000,2003.000000,118.500000,3.500000e+07,8.553074e+07,2005.0
75%,357459.000000,2003.500000,127.250000,3.750000e+07,1.188451e+08,2005.0
max,378194.000000,2004.000000,136.000000,4.000000e+07,1.521595e+08,2005.0

In [51]:
# TODO: Insert more visualizations

#### __For Text Pre-processing__:

__The movie summary and reviews undergo the following steps during the initial data pre-processing stage__
- Remove non-grammatical text like emails and URLs
- Replace non-ascii characters (some Python libraries are only limited to ascii characters like KeywordProcessor)
- Replace emojis with English word/s
- Handle contractions
- Handle slang words

In [54]:
emoji_dict = tp.get_emojis()
slang_word_dict = tp.get_slang_words(webscraped=False)

def initial_text_preprocessing(text):
    try:
        # Remove non-grammatical text
        text = tp.remove_email_address(text)
        text = tp.remove_hyperlink(text)

        # Replace non-ascii characters as there are Python libraries limiting this feature
        text = tp.replace_nonascii_characters(text)

        # Replace emojis with English word/s
        text = emoji_dict.replace_keywords(text)

        # Handle contractions
        text = contractions.fix(text)

        # Replace slang words
        text = slang_word_dict.replace_keywords(text)

    except Exception as err:
        print(f"ERROR: {err}")
        print(f"Input Text: {text}")

    return text


movie_reviews_df[['cleaned_review_summary', 'cleaned_review_detail']] = movie_reviews_df[['review_summary', 'review_detail']].applymap(initial_text_preprocessing)

# Display the comparison between the top 5 original review summaries and their cleaned versions
for i in range(2):
    print("Original Review Summary:")
    print(movie_reviews_df['review_summary'][i])
    print("\nCleaned Review Summary:")
    print(movie_reviews_df['cleaned_review_summary'][i])
    print("="*100)

# Display the comparison between the top 5 original review details and their cleaned versions
for i in range(2):
    print("Original Review Details:")
    print(movie_reviews_df['review_detail'][i])
    print("\nCleaned Review Details:")
    print(movie_reviews_df['cleaned_review_detail'][i])
    print("="*100)

Original Review Summary:
"I couldn't make much sense of it myself". Too right!

Cleaned Review Summary:
"I could not make much sense of it myself". Too right!
====================================================================================================
Original Review Summary:
Good follow up that answers all the questions

Cleaned Review Summary:
Good follow up that answers all the questions
====================================================================================================
Original Review Details:
There's a Website called FearDotCom and anyone who visits it and accepts its challenge will die 48hours later. After someone dies of strange circumstances detective Mike Reilly (Stephen Dorff) gets the strange case and a Health Inspector (Natascha McElhone) is brought in too, as they think that they might be dealing with a new virus. Though, soon later the two come across the Website and race against the clock to solve the mystery before they become a victim of the site. While, all this is happening a psychopath (Stephen Rae) is kidnapping girls and torturing them live on the net. So, is there any connection between the two activities? Does this idea ring a bell, it sure does. Flimsy rip-off comes straight to mind while watching this very bland and trashy film, despite director William Malone's best efforts. Elements from other (better) films show up and you just can't deny it or even forgive it for being uninspiring. Though, actually I didn't hate it, but I could've gone without seeing it. The premise starts off pretty interesting, but after that it just fizzles out. It just becomes tiresome and rather dull story telling, with uninspired performances from the leads that aren't capable of carrying a film and are hardly convincing in their roles. The plot doesn't make too much sense, with pointless subplots and no real cohesion. It does get very muddled with its ridiculous outcomes and it focusing on sequences that are full of tedium. When it reaches the pointless ending you'll think why did I bother? Not much of a mystery is achieved as no tension, atmosphere and detail is built. It basically rips off the plot of "Ringu/The Ring". Instead of a video it's now a haunted Website. You can also throw in ideas from "Videodrome" (the better of the three) into the mix. The script is fairly mortifying, with such trite dialogue coming out of the their mouths. The screenplay is plain unexciting and ineffective. Performances from the likes of Stephen Dorff, Natascha McElhone and Stephen Rae were by the numbers. They were just so uninteresting and unbelievable that you just didn't care for them. Look out for a small cameo from Jeffery Combs (Re-animator and From Beyond). What the film went for was slick visuals, potent camera-work and flashy editing. Visually it was good, though towards the end the whole treatment did kind of get annoying and incredibly repetitious. The look of the film was incredibly dark, with many gloomy sequences involving dimly lit corridors and rooms. Even the sombre mood or fine score couldn't help it raise any chills. The deaths scenes and torture moments are unimaginative and rather tame. It's glossily executed, but illogical and flat sums it up.

Cleaned Review Details:
There is a Website called FearDotCom and anyone who visits it and accepts its challenge will die 48hours later. After someone dies of strange circumstances detective Mike Reilly (Stephen Dorff) gets the strange case and a Health Inspector (Natascha McElhone) is brought in too, as they think that they might be dealing with a new virus. Though, soon later the two come across the Website and race against the clock to solve the mystery before they become a victim of the site. While, all this is happening a psychopath (Stephen Rae) is kidnapping girls and torturing them live on the net. So, is there any connection between the two activities? Does this idea ring a bell, it sure does. Flimsy rip-off comes straight to mind while watching this very bland and trashy film, despite director William Malone's best efforts. Elements from other (better) films show up and you just cannot deny it or even forgive it for being uninspiring. Though, actually I did not hate it, but I could have gone without seeing it. The premise starts off pretty interesting, but after that it just fizzles out. It just becomes tiresome and rather dull story telling, with uninspired performances from the leads that are not capable of carrying a film and are hardly convincing in their roles. The plot does not make too much sense, with pointless subplots and no real cohesion. It does get very muddled with its ridiculous outcomes and it focusing on sequences that are full of tedium. When it reaches the pointless ending you will think why did I bother? Not much of a mystery is achieved as no tension, atmosphere and detail is built. It basically rips off the plot of "Ringu/The Ring". Instead of a video it is now a haunted Website. You can also throw in ideas from "Videodrome" (the better of the three) into the mix. The script is fairly mortifying, with such trite dialogue coming out of the their mouths. The screenplay is plain unexciting and ineffective. Performances from the likes of Stephen Dorff, Natascha McElhone and Stephen Rae were by the numbers. They were just so uninteresting and unbelievable that you just did not care for them. Look out for a small cameo from Jeffery Combs (Re-animator and From Beyond). What the film went for was slick visuals, potent camera-work and flashy editing. Visually it was good, though towards the end the whole treatment did kind of get annoying and incredibly repetitious. The look of the film was incredibly dark, with many gloomy sequences involving dimly lit corridors and rooms. Even the sombre mood or fine score could not help it raise any chills. The deaths scenes and torture moments are unimaginative and rather tame. It is glossily executed, but illogical and flat sums it up.
====================================================================================================
Original Review Details:
After seeing Tarantino's Kill Bill Vol: 1, I got to watch Vol. 2 the next day after seeing it. I liked the first one but didn't really know everything that was going on, but just knowing that she set off the kill 5 individuals who left her dead at her wedding. So I saw Kill Bill: Vol 2 and liked it highly. The movie answered all of my questions to the previous one and had much of a better story and was not unrealistic that much. We finally get to see Bill, who is played by David Carradine who had a really good role in the movie. There is a great conclusion to the movie and had a very good story, along with likable characters, my favorite being Budd. Overall, good movie that answers tons of questions. I recommend Kill Bill Vol. 2.Hedeen's Outlook: 8/10 *** B

Cleaned Review Details:
After seeing Tarantino's Kill Bill Vol: 1, I got to watch Vol. 2 the next day after seeing it. I liked the first one but did not really know everything that was going on, but just knowing that she set off the kill 5 individuals who left her dead at her wedding. So I saw Kill Bill: Vol 2 and liked it highly. The movie answered all of my questions to the previous one and had much of a better story and was not unrealistic that much. We finally get to see Bill, who is played by David Carradine who had a really good role in the movie. There is a great conclusion to the movie and had a very good story, along with likable characters, my favorite being Budd. Overall, good movie that answers tons of questions. I recommend Kill Bill Vol. 2.Hedeen's Outlook: 8/10 *** B
====================================================================================================

__Name Entity Recognition (NER)__

In [55]:
# # TODO: Train own NER with the names of crews and casts and other important info

# # Load the English language model in spaCy
# nlp = spacy.load("en_core_web_sm")

# # Create a new dataFrame to store extracted name entitiesm then combine/rename the following labels
# # - LOCATION : GPE, LOC and FACE
# # - DATE_TIME : DATE, TIME
# # - ORGANIZATION : ORG

# column_names = ['PERSON', 'WORK_OF_ART', 'LOCATION', 'DATE_TIME', 'ORGANIZATION', 'PRODUCT', 'EVENT', 'LANGUAGE']
# movie_name_entities_df = pd.DataFrame(columns=column_names)

# # Extract and remove name entities from 'cleaned_review_summary' and 'cleaned_review_detail' columns
# movie_reviews_df['cleaned_review_summary'], movie_name_entities_df = tp.extract_name_entity(movie_reviews_df['cleaned_review_summary'], nlp, movie_name_entities_df)
# movie_reviews_df['cleaned_review_detail'], movie_name_entities_df = tp.extract_name_entity(movie_reviews_df['cleaned_review_detail'], nlp, movie_name_entities_df)

# # Display the comparison between the top 5 original review summaries and their cleaned versions
# for i in range(2):
#     print("Original Review Summary:")
#     print(movie_reviews_df['review_summary'][i])
#     print("\nCleaned Review Summary (NER Removed):")
#     print(movie_reviews_df['cleaned_review_summary'][i])
#     print("="*50)

# # Display the comparison between the top 5 original review details and their cleaned versions
# for i in range(2):
#     print("Original Review Details:")
#     print(movie_reviews_df['review_detail'][i])
#     print("\nCleaned Review Details (NER Removed):")
#     print(movie_reviews_df['cleaned_review_detail'][i])
#     print("="*50)

Original Review Summary:
"I couldn't make much sense of it myself". Too right!

Cleaned Review Summary (NER Removed):
"I could not make much sense of it myself". Too right!
==================================================
Original Review Summary:
Good follow up that answers all the questions

Cleaned Review Summary (NER Removed):
Good follow up that answers all the questions
==================================================
Original Review Details:
There's a Website called FearDotCom and anyone who visits it and accepts its challenge will die 48hours later. After someone dies of strange circumstances detective Mike Reilly (Stephen Dorff) gets the strange case and a Health Inspector (Natascha McElhone) is brought in too, as they think that they might be dealing with a new virus. Though, soon later the two come across the Website and race against the clock to solve the mystery before they become a victim of the site. While, all this is happening a psychopath (Stephen Rae) is kidnapping girls and torturing them live on the net. So, is there any connection between the two activities? Does this idea ring a bell, it sure does. Flimsy rip-off comes straight to mind while watching this very bland and trashy film, despite director William Malone's best efforts. Elements from other (better) films show up and you just can't deny it or even forgive it for being uninspiring. Though, actually I didn't hate it, but I could've gone without seeing it. The premise starts off pretty interesting, but after that it just fizzles out. It just becomes tiresome and rather dull story telling, with uninspired performances from the leads that aren't capable of carrying a film and are hardly convincing in their roles. The plot doesn't make too much sense, with pointless subplots and no real cohesion. It does get very muddled with its ridiculous outcomes and it focusing on sequences that are full of tedium. When it reaches the pointless ending you'll think why did I bother? Not much of a mystery is achieved as no tension, atmosphere and detail is built. It basically rips off the plot of "Ringu/The Ring". Instead of a video it's now a haunted Website. You can also throw in ideas from "Videodrome" (the better of the three) into the mix. The script is fairly mortifying, with such trite dialogue coming out of the their mouths. The screenplay is plain unexciting and ineffective. Performances from the likes of Stephen Dorff, Natascha McElhone and Stephen Rae were by the numbers. They were just so uninteresting and unbelievable that you just didn't care for them. Look out for a small cameo from Jeffery Combs (Re-animator and From Beyond). What the film went for was slick visuals, potent camera-work and flashy editing. Visually it was good, though towards the end the whole treatment did kind of get annoying and incredibly repetitious. The look of the film was incredibly dark, with many gloomy sequences involving dimly lit corridors and rooms. Even the sombre mood or fine score couldn't help it raise any chills. The deaths scenes and torture moments are unimaginative and rather tame. It's glossily executed, but illogical and flat sums it up.

Cleaned Review Details (NER Removed):
There is a Website called FearDotCom and anyone who visits it and accepts its challenge will die  later. After someone dies of strange circumstances detective  () gets the strange case and a Health Inspector () is brought in too, as they think that they might be dealing with a new virus. Though, soon later the  come across the Website and race against the clock to solve the mystery before they become a victim of the site. While, all this is happening a psychopath () is kidnapping girls and torturing them live on the net. So, is there any connection between the  activities? Does this idea ring a bell, it sure does.  rip-off comes straight to mind while watching this very bland and trashy film, despite director 's best efforts. Elements from other (better) films show up and you just cannot deny it or even forgive it for being uninspiring. Though, actually I did not hate it, but I could have gone without seeing it. The premise starts off pretty interesting, but after that it just  out. It just becomes tiresome and rather dull story telling, with uninspired performances from the leads that are not capable of carrying a film and are hardly convincing in their roles. The plot does not make too much sense, with pointless subplots and no real cohesion. It does get very muddled with its ridiculous outcomes and it focusing on sequences that are full of tedium. When it reaches the pointless ending you will think why did I bother? Not much of a mystery is achieved as no tension, atmosphere and detail is built. It basically rips off the plot of "". Instead of a video it is now a haunted Website. You can also throw in ideas from "" (the better of the ) into the mix. The script is fairly mortifying, with such trite dialogue coming out of the their mouths. The screenplay is plain unexciting and ineffective. Performances from the likes of ,  and  were by the numbers. They were just so uninteresting and unbelievable that you just did not care for them. Look out for a small cameo from  (Re-animator and From Beyond). What the film went for was slick visuals, potent camera-work and flashy editing. Visually it was good, though towards the end the whole treatment did kind of get annoying and incredibly repetitious. The look of the film was incredibly dark, with many gloomy sequences involving dimly lit corridors and rooms. Even the sombre mood or fine score could not help it raise any chills. The deaths scenes and torture moments are unimaginative and rather tame. It is glossily executed, but illogical and flat sums it up.
==================================================
Original Review Details:
After seeing Tarantino's Kill Bill Vol: 1, I got to watch Vol. 2 the next day after seeing it. I liked the first one but didn't really know everything that was going on, but just knowing that she set off the kill 5 individuals who left her dead at her wedding. So I saw Kill Bill: Vol 2 and liked it highly. The movie answered all of my questions to the previous one and had much of a better story and was not unrealistic that much. We finally get to see Bill, who is played by David Carradine who had a really good role in the movie. There is a great conclusion to the movie and had a very good story, along with likable characters, my favorite being Budd. Overall, good movie that answers tons of questions. I recommend Kill Bill Vol. 2.Hedeen's Outlook: 8/10 *** B

Cleaned Review Details (NER Removed):
After seeing 's Kill  : , I got to watch .   after seeing it. I liked the  one but did not really know everything that was going on, but just knowing that she set off the kill  individuals who left her dead at her wedding. So I saw Kill :   and liked it highly. The movie answered all of my questions to the previous one and had much of a better story and was not unrealistic that much. We finally get to see , who is played by  who had a really good role in the movie. There is a great conclusion to the movie and had a very good story, along with likable characters, my favorite being . Overall, good movie that answers tons of questions. I recommend Kill  . .Hedeen's : 8/0 *** B
==================================================

In [56]:
# Dataframe of the extracted name entities
movie_name_entities_df = pd.merge(movie_reviews_df['imdb_id'], movie_name_entities_df, left_index=True, right_index=True)
movie_name_entities_df.head(10)

,imdb_id,PERSON,WORK_OF_ART,LOCATION,DATE_TIME,ORGANIZATION,PRODUCT,EVENT,LANGUAGE
0,295254,"[Mike Reilly, Stephen Dorff, Stephen Rae, Flim...","[Ringu/The Ring, Videodrome]",NaN,NaN,[Jeffery Combs],NaN,NaN,NaN
1,378194,"[Tarantino, Vol, Bill, David Carradine, Budd, ...",NaN,NaN,[the next day],NaN,NaN,NaN,NaN

__Utilize regular expressions to eliminate punctuation, substitute whitespaces, transform characters to lowercase, and filter out stopwords from movie reviews__

In [60]:
# Initialize the English stop words list
list_of_stopwords = set(stopwords.words('english'))

def supplemental_text_preprocessing(text):
    # Remove non-alphanumeric characters except for the following
    # - hyphen (-) that is in between alphanumeric
    text = tp.remove_non_alphanumeric_char(text)
    
    # Remove leading and trailing whitespaces
    text = text.strip()

    # Replace multiple whitespaces with a single space
    text = tp.replace_whitespace(text)

    # Remove stopwords
    text = tp.remove_stopwords(text, list_of_stopwords)

    return text

# Apply text cleaning to 'cleaned_review_summary' and 'cleaned_review_detail' columns
movie_reviews_df[['cleaned_review_summary', 'cleaned_review_detail']] = movie_reviews_df[['cleaned_review_summary', 'cleaned_review_detail']]\
                                                                            .applymap(supplemental_text_preprocessing)

# Display the comparison between the top 5 original review summaries and their cleaned versions
for i in range(2):
    print("Original Review Summary:")
    print(movie_reviews_df['review_summary'][i])
    print("\nCleaned Review Summary (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):")
    print(movie_reviews_df['cleaned_review_summary'][i])
    print("="*100)

# Display the comparison between the top 5 original review details and their cleaned versions
for i in range(2):
    print("Original Review Details:")
    print(movie_reviews_df['review_detail'][i])
    print("\nCleaned Review Details (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):")
    print(movie_reviews_df['cleaned_review_detail'][i])
    print("="*100)

Original Review Summary:
"I couldn't make much sense of it myself". Too right!

Cleaned Review Summary (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
I could make much sense Too right
====================================================================================================
Original Review Summary:
Good follow up that answers all the questions

Cleaned Review Summary (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
Good follow answers questions
====================================================================================================
Original Review Details:
There's a Website called FearDotCom and anyone who visits it and accepts its challenge will die 48hours later. After someone dies of strange circumstances detective Mike Reilly (Stephen Dorff) gets the strange case and a Health Inspector (Natascha McElhone) is brought in too, as they think that they might be dealing with a new virus. Though, soon later the two come across the Website and race against the clock to solve the mystery before they become a victim of the site. While, all this is happening a psychopath (Stephen Rae) is kidnapping girls and torturing them live on the net. So, is there any connection between the two activities? Does this idea ring a bell, it sure does. Flimsy rip-off comes straight to mind while watching this very bland and trashy film, despite director William Malone's best efforts. Elements from other (better) films show up and you just can't deny it or even forgive it for being uninspiring. Though, actually I didn't hate it, but I could've gone without seeing it. The premise starts off pretty interesting, but after that it just fizzles out. It just becomes tiresome and rather dull story telling, with uninspired performances from the leads that aren't capable of carrying a film and are hardly convincing in their roles. The plot doesn't make too much sense, with pointless subplots and no real cohesion. It does get very muddled with its ridiculous outcomes and it focusing on sequences that are full of tedium. When it reaches the pointless ending you'll think why did I bother? Not much of a mystery is achieved as no tension, atmosphere and detail is built. It basically rips off the plot of "Ringu/The Ring". Instead of a video it's now a haunted Website. You can also throw in ideas from "Videodrome" (the better of the three) into the mix. The script is fairly mortifying, with such trite dialogue coming out of the their mouths. The screenplay is plain unexciting and ineffective. Performances from the likes of Stephen Dorff, Natascha McElhone and Stephen Rae were by the numbers. They were just so uninteresting and unbelievable that you just didn't care for them. Look out for a small cameo from Jeffery Combs (Re-animator and From Beyond). What the film went for was slick visuals, potent camera-work and flashy editing. Visually it was good, though towards the end the whole treatment did kind of get annoying and incredibly repetitious. The look of the film was incredibly dark, with many gloomy sequences involving dimly lit corridors and rooms. Even the sombre mood or fine score couldn't help it raise any chills. The deaths scenes and torture moments are unimaginative and rather tame. It's glossily executed, but illogical and flat sums it up.

Cleaned Review Details (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
There Website called FearDotCom anyone visits accepts challenge die later After someone dies strange circumstances detective gets strange case Health Inspector brought think might dealing new virus Though soon later come across Website race clock solve mystery become victim site While happening psychopath kidnapping girls torturing live net So connection activities Does idea ring bell sure comes straight mind watching bland trashy film despite director best efforts Elements better films show deny even forgive uninspiring Though actually I hate I could gone without seeing The premise starts pretty interesting It becomes tiresome rather dull story telling uninspired performances leads capable carrying film hardly convincing roles The plot make much sense pointless subplots real cohesion It get muddled ridiculous outcomes focusing sequences full tedium When reaches pointless ending think I bother Not much mystery achieved tension atmosphere detail built It basically rips plot Instead video haunted Website You also throw ideas better mix The script fairly mortifying trite dialogue coming mouths The screenplay plain unexciting ineffective Performances likes numbers They uninteresting unbelievable care Look small cameo From Beyond What film went slick visuals potent flashy editing Visually good though towards end whole treatment kind get annoying incredibly repetitious The look film incredibly dark many gloomy sequences involving dimly lit corridors rooms Even sombre mood fine score could help raise chills The deaths scenes torture moments unimaginative rather tame It glossily executed illogical flat sums
====================================================================================================
Original Review Details:
After seeing Tarantino's Kill Bill Vol: 1, I got to watch Vol. 2 the next day after seeing it. I liked the first one but didn't really know everything that was going on, but just knowing that she set off the kill 5 individuals who left her dead at her wedding. So I saw Kill Bill: Vol 2 and liked it highly. The movie answered all of my questions to the previous one and had much of a better story and was not unrealistic that much. We finally get to see Bill, who is played by David Carradine who had a really good role in the movie. There is a great conclusion to the movie and had a very good story, along with likable characters, my favorite being Budd. Overall, good movie that answers tons of questions. I recommend Kill Bill Vol. 2.Hedeen's Outlook: 8/10 *** B

Cleaned Review Details (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
After seeing Kill I got watch seeing I liked one really know everything going knowing set kill individuals left dead wedding So I saw Kill liked highly The movie answered questions previous one much better story unrealistic much We finally get see played really good role movie There great conclusion movie good story along likable characters favorite Overall good movie answers tons questions I recommend Kill Hedeen B
====================================================================================================

__Implement Spacy's lemmatization on movie reviews, emphasizing the significance of lemmatization in capturing the base or root form of words__

In [62]:
# TODO: Words with hyphen are being tokenized or split

# Load the spaCy language model
# See: https://spacy.io/usage/models
nlp = spacy.load("en_core_web_sm")
    
# Apply lemmatization to 'review_summary' and 'review_detail' columns
movie_reviews_df['cleaned_review_summary'] = tp.lemmatize_text(movie_reviews_df['cleaned_review_summary'], nlp)
movie_reviews_df['cleaned_review_detail'] = tp.lemmatize_text(movie_reviews_df['cleaned_review_detail'], nlp)

# Display the comparison between the top 5 original review summaries and their lemmatized versions
for i in range(2):
    print("Original Review Summary:")
    print(movie_reviews_df['review_summary'][i])
    print("\nLemmatized Review Summary:")
    print(movie_reviews_df['cleaned_review_summary'][i])
    print("="*100)

# Display the comparison between the top 5 original review details and their lemmatized versions
for i in range(2):
    print("Original Review Details:")
    print(movie_reviews_df['review_detail'][i])
    print("\nLemmatized Review Details:")
    print(movie_reviews_df['cleaned_review_detail'][i])
    print("="*100)

Original Review Summary:
"I couldn't make much sense of it myself". Too right!

Lemmatized Review Summary:
I sense right
====================================================================================================
Original Review Summary:
Good follow up that answers all the questions

Lemmatized Review Summary:
good follow answer question
====================================================================================================
Original Review Details:
There's a Website called FearDotCom and anyone who visits it and accepts its challenge will die 48hours later. After someone dies of strange circumstances detective Mike Reilly (Stephen Dorff) gets the strange case and a Health Inspector (Natascha McElhone) is brought in too, as they think that they might be dealing with a new virus. Though, soon later the two come across the Website and race against the clock to solve the mystery before they become a victim of the site. While, all this is happening a psychopath (Stephen Rae) is kidnapping girls and torturing them live on the net. So, is there any connection between the two activities? Does this idea ring a bell, it sure does. Flimsy rip-off comes straight to mind while watching this very bland and trashy film, despite director William Malone's best efforts. Elements from other (better) films show up and you just can't deny it or even forgive it for being uninspiring. Though, actually I didn't hate it, but I could've gone without seeing it. The premise starts off pretty interesting, but after that it just fizzles out. It just becomes tiresome and rather dull story telling, with uninspired performances from the leads that aren't capable of carrying a film and are hardly convincing in their roles. The plot doesn't make too much sense, with pointless subplots and no real cohesion. It does get very muddled with its ridiculous outcomes and it focusing on sequences that are full of tedium. When it reaches the pointless ending you'll think why did I bother? Not much of a mystery is achieved as no tension, atmosphere and detail is built. It basically rips off the plot of "Ringu/The Ring". Instead of a video it's now a haunted Website. You can also throw in ideas from "Videodrome" (the better of the three) into the mix. The script is fairly mortifying, with such trite dialogue coming out of the their mouths. The screenplay is plain unexciting and ineffective. Performances from the likes of Stephen Dorff, Natascha McElhone and Stephen Rae were by the numbers. They were just so uninteresting and unbelievable that you just didn't care for them. Look out for a small cameo from Jeffery Combs (Re-animator and From Beyond). What the film went for was slick visuals, potent camera-work and flashy editing. Visually it was good, though towards the end the whole treatment did kind of get annoying and incredibly repetitious. The look of the film was incredibly dark, with many gloomy sequences involving dimly lit corridors and rooms. Even the sombre mood or fine score couldn't help it raise any chills. The deaths scenes and torture moments are unimaginative and rather tame. It's glossily executed, but illogical and flat sums it up.

Lemmatized Review Details:
website feardotcom visit accept challenge die later die strange circumstance detective strange case Health Inspector bring think deal new virus Though soon later come Website race clock solve mystery victim site happen psychopath kidnapping girl torture live net connection activity idea ring bell sure come straight mind watch bland trashy film despite director good effort Elements film deny forgive uninspiring Though actually I hate I premise start pretty interesting tiresome dull story tell uninspired performance lead capable carry film hardly convince role plot sense pointless subplot real cohesion muddle ridiculous outcome focus sequence tedium reach pointless end think I bother mystery achieve tension atmosphere detail build basically rip plot instead video haunt Website throw idea mix script fairly mortify trite dialogue come mouth screenplay plain unexcite ineffective Performances like number unintereste unbelievable care look small cameo film slick visual potent flashy edit visually good end treatment kind annoying incredibly repetitious look film incredibly dark gloomy sequence involve dimly light corridor room sombre mood fine score help raise chill death scene torture moment unimaginative tame glossily execute illogical flat sum
====================================================================================================
Original Review Details:
After seeing Tarantino's Kill Bill Vol: 1, I got to watch Vol. 2 the next day after seeing it. I liked the first one but didn't really know everything that was going on, but just knowing that she set off the kill 5 individuals who left her dead at her wedding. So I saw Kill Bill: Vol 2 and liked it highly. The movie answered all of my questions to the previous one and had much of a better story and was not unrealistic that much. We finally get to see Bill, who is played by David Carradine who had a really good role in the movie. There is a great conclusion to the movie and had a very good story, along with likable characters, my favorite being Budd. Overall, good movie that answers tons of questions. I recommend Kill Bill Vol. 2.Hedeen's Outlook: 8/10 *** B

Lemmatized Review Details:
kill I watch I like know know set kill individual leave dead wedding I kill like highly movie answer question previous story unrealistic finally play good role movie great conclusion movie good story likable character favorite overall good movie answer ton question I recommend Kill Hedeen b
====================================================================================================

## Model Creation

## Model Evaluation

## References
- https://medium.com/analytics-vidhya/text-preprocessing-nlp-basics-430d54016048
- https://towardsdatascience.com/how-to-preprocess-social-media-data-and-text-messages-b011efacf74
- https://towardsdatascience.com/5-lesser-known-python-libraries-for-your-next-nlp-project-ff13fc652553
- https://medium.com/coinmonks/remaking-of-shortened-sms-tweet-post-slangs-and-word-contraction-into-sentences-nlp-7bd1bbc6fcff
- https://sunscrapers.com/blog/9-best-python-natural-language-processing-nlp/
- https://towardsdatascience.com/stemming-vs-lemmatization-2daddabcb221
- https://www.machinelearningplus.com/nlp/lemmatization-examples-python/#google_vignette
- https://atilaycemsamiloglu.medium.com/what-is-lemmatization-2d7a87f42c55
- https://support.prodi.gy/t/how-to-tell-spacy-not-to-split-any-intra-hyphen-words/1456
- https://towardsdatascience.com/elegant-text-pre-processing-with-nltk-in-sklearn-pipeline-d6fe18b91eb8
- https://python.plainenglish.io/optimize-your-spacy-ner-results-with-this-simple-change-e59937c411ab