# __Movie Sentiment Analysis__

In [1]:
import pandas as pd
import numpy as np
import re
import contractions
import nltk
import contractions
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import text_preprocessing as tp
import utils
import spacy
import spacy_transformers

from nltk.corpus import stopwords
from nltk.corpus import words
from nltk.stem import WordNetLemmatizer
from flashtext import KeywordProcessor
from textblob import TextBlob


warnings.filterwarnings("ignore")

c:\Users\aurad\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Importing Dataset for Movie Metadata

Use the IMDB dataset containing information about movies. Two different data sources will be utilized in the process of traning the model.

__a. Data Source:__ https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset/

In [2]:
# Open file containing movie metadata
movies_metadata_df = pd.read_csv("./dataset/movies_metadata.csv")
movies_metadata_df.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
# Open file containing the movie credits, i.e. casts and crews
movies_credits_df = pd.read_csv("./dataset/credits.csv")
movies_credits_df.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
# Combine the dataframes of movie metadata and credits
movies_metadata_df = pd.merge(movies_metadata_df, movies_credits_df, on=["id"], how="left")
movies_metadata_df.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [5]:
# List all the columns in movie metadata's dataframe
movies_metadata_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew'],
      dtype='object')

In [6]:
# Drop columns that are not relevant
del_columns = ['belongs_to_collection', 'homepage', 'id', 'original_language', 'original_title', 'popularity', 'poster_path', 'adult',
               'overview', 'tagline', 'production_countries', 'spoken_languages', 'status', 'video', 'vote_average', 'vote_count']
movies_metadata_df = movies_metadata_df.drop(del_columns, axis=1)

# Remove 'tt' appended on the IMDB ID
movies_metadata_df['imdb_id'] = movies_metadata_df['imdb_id'].apply(lambda x : x[2:] if isinstance(x, str) and "tt" in x else x)

movies_metadata_df.head(5)

,budget,genres,imdb_id,production_companies,release_date,revenue,runtime,title,cast,crew
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",0114709,"[{'name': 'Pixar Animation Studios', 'id': 3}]",10/30/1995,373554033.0,81.0,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",0113497,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",12/15/1995,262797249.0,104.0,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0113228,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",12/22/1995,0.0,101.0,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",0114885,[{'name': 'Twentieth Century Fox Film Corporat...,12/22/1995,81452156.0,127.0,Waiting to Exhale,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,0,"[{'id': 35, 'name': 'Comedy'}]",0113041,"[{'name': 'Sandollar Productions', 'id': 5842}...",2/10/1995,76578911.0,106.0,Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

__b. Data Source:__ https://www.kaggle.com/datasets/raynardj/imdb-vision-and-nlp/data

In [7]:
# Open another file containing the movie metadata
movies_df = pd.read_csv("./dataset/movies.csv")
movies_df.head(5)

,imdbId,Imdb Link,Title,IMDB Score,Genre,local_image_path
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation;Adventure;Comedy,images/114709_.jpg
1,113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action;Adventure;Family,images/113497_.jpg
2,113277,http://www.imdb.com/title/tt113277,Heat (1995),8.2,Action;Crime;Drama,images/113277_.jpg
3,114319,http://www.imdb.com/title/tt114319,Sabrina (1995),6.3,Comedy;Drama,images/114319_.jpg
4,114576,http://www.imdb.com/title/tt114576,Sudden Death (1995),5.7,Action;Crime;Thriller,images/114576_.jpg

In [8]:
# Rename the column names of movies info by removing the spaces and converting to lower case
movies_df = movies_df.rename(columns={"imdbId" : "imdb_id", "Imdb Link" : "imbd_link", "Title" : "movie", "IMDB Score" : "imdb_score", "Genre" : "genre"})
print(movies_df.columns)

Index(['imdb_id', 'imbd_link', 'movie', 'imdb_score', 'genre',
       'local_image_path'],
      dtype='object')

In [9]:
# Drop columns that are not relevant
del_columns = ['imbd_link', 'imdb_score', 'local_image_path']

movies_df = movies_df.drop(columns=del_columns, axis=1)
movies_df.head(5)

   imdb_id                movie                       genre
0   114709     Toy Story (1995)  Animation;Adventure;Comedy
1   113497       Jumanji (1995)     Action;Adventure;Family
2   113277          Heat (1995)          Action;Crime;Drama
3   114319       Sabrina (1995)                Comedy;Drama
4   114576  Sudden Death (1995)       Action;Crime;Thriller

In [10]:
# Merge two different datasets for movies metadata

movies_metadata_df['imdb_id'] = movies_metadata_df['imdb_id'].fillna(0) # fixed errors on NaN values when converting to int data type
movies_metadata_df['imdb_id'] = movies_metadata_df['imdb_id'].astype(int)

movies_metadata_df = pd.merge(movies_metadata_df, movies_df, on=["imdb_id"], how="right")
movies_metadata_df.head(5)

,budget,genres,imdb_id,production_companies,release_date,revenue,runtime,title,cast,crew,movie,genre
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",114709,"[{'name': 'Pixar Animation Studios', 'id': 3}]",10/30/1995,373554033.0,81.0,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Toy Story (1995),Animation;Adventure;Comedy
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",113497,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",12/15/1995,262797249.0,104.0,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Jumanji (1995),Action;Adventure;Family
2,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",113277,"[{'name': 'Regency Enterprises', 'id': 508}, {...",12/15/1995,187436818.0,170.0,Heat,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",Heat (1995),Action;Crime;Drama
3,58000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",114319,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",12/15/1995,0.0,127.0,Sabrina,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",Sabrina (1995),Comedy;Drama
4,35000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",114576,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",12/22/1995,64350171.0,106.0,Sudden Death,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",Sudden Death (1995),Action;Crime;Thriller

## Importing Dataset for Movie Reviews

Use the IMDB dataset for movie reviews.

__Data Source:__ https://www.kaggle.com/datasets/raynardj/imdb-vision-and-nlp/data

In [11]:
# Open the file containing the movie reviews
reviews_df = pd.read_csv("./dataset/reviews.csv")
reviews_df.head(5)

,review_id,reviewer,movie,rating,review_summary,review_date,spoiler_tag,review_detail,helpful
0,rw1133942,OriginalMovieBuff21,Kill Bill: Vol. 2 (2004),8.0,Good follow up that answers all the questions,24 July 2005,0,"After seeing Tarantino's Kill Bill Vol: 1, I g...","['0', '1']"
1,rw1133959,lost-in-limbo,Feardotcom (2002),3.0,"""I couldn't make much sense of it myself"". Too...",24 July 2005,0,There's a Website called FearDotCom and anyone...,"['1', '4']"
2,rw1133985,NateManD,Persona (1966),10.0,Persona gives me all the reasons to love art-h...,24 July 2005,0,"Long before ""Muholland Drive"" there was anothe...","['9', '23']"
3,rw1133999,CAMACHO-4,War of the Worlds (2005),3.0,A disappointing film from the team that you Mi...,24 July 2005,0,Spielberg said this film is based on the H.G. ...,"['9', '14']"
4,rw1134010,CAMACHO-4,Mr. & Mrs. Smith (2005),6.0,A fun action movie with great chemistry,24 July 2005,0,"Director Doug Liman, who's gotten famous for m...","['1', '3']"

In [12]:
# Merge the movie metadata (from the same kaggle source) and reviews
movie_reviews_df = pd.merge(movies_df, reviews_df, on=["movie"], how="inner")
movie_reviews_df.head(5)

,imdb_id,movie,genre,review_id,reviewer,rating,review_summary,review_date,spoiler_tag,review_detail,helpful
0,114709,Toy Story (1995),Animation;Adventure;Comedy,rw1166979,dee.reid,10.0,"""Toy Story"" - The Toys are in town and somethi...",6 September 2005,0,"I'm 19, going on 20 in six days. I don't need ...","['5', '5']"
1,114709,Toy Story (1995),Animation;Adventure;Comedy,rw1184497,emasterslake,NaN,Pixar's first full length movie.,1 October 2005,0,This was the first Pixar movie I've seen. I re...,"['0', '0']"
2,114709,Toy Story (1995),Animation;Adventure;Comedy,rw1202306,patrick_dunne,10.0,Classic Pixar! This is what future Pixar films...,26 October 2005,0,Remember the original Pixar movies? Remember w...,"['0', '0']"
3,114709,Toy Story (1995),Animation;Adventure;Comedy,rw1213162,Lady_Targaryen,8.0,One of the first animations from Pixar,10 November 2005,0,"When Toy Story came, in 1995,I was 9 years old...","['27', '43']"
4,114709,Toy Story (1995),Animation;Adventure;Comedy,rw1223346,KUAlum26,10.0,Can it be ten years already?,23 November 2005,0,PIXAR animation was but an experimental animat...,"['1', '1']"

In [13]:
# Drop columns that are not relevant, including the movie and genre. IMDB ID can be used to associate 
# review records with movie metadata
del_columns = ['movie', 'genre', 'review_id', 'reviewer', 'spoiler_tag', 'helpful', 'rating']

movie_reviews_df = movie_reviews_df.drop(columns=del_columns, axis=1)
movie_reviews_df.head(5)

,imdb_id,review_summary,review_date,review_detail
0,114709,"""Toy Story"" - The Toys are in town and somethi...",6 September 2005,"I'm 19, going on 20 in six days. I don't need ..."
1,114709,Pixar's first full length movie.,1 October 2005,This was the first Pixar movie I've seen. I re...
2,114709,Classic Pixar! This is what future Pixar films...,26 October 2005,Remember the original Pixar movies? Remember w...
3,114709,One of the first animations from Pixar,10 November 2005,"When Toy Story came, in 1995,I was 9 years old..."
4,114709,Can it be ten years already?,23 November 2005,PIXAR animation was but an experimental animat...

## Exploratory Data Analysis

Check and resolve duplicate records

In [14]:
# Drop duplicate records in movies metadata
print(f"Record count before removing duplicates => {movies_metadata_df.shape[0]}")
movies_metadata_df.drop_duplicates(inplace=True)
print(f"Record count after removing duplicates  => {movies_metadata_df.shape[0]}")

Record count before removing duplicates => 4174
Record count after removing duplicates  => 4071

In [15]:
# Drop duplicate records in movies reviews
print(f"Record count before removing duplicates => {movie_reviews_df.shape[0]}")
movie_reviews_df.drop_duplicates(inplace=True)
print(f"Record count after removing duplicates  => {movie_reviews_df.shape[0]}")

Record count before removing duplicates => 557581
Record count after removing duplicates  => 542633

Check and resolve missing values for `movie metadata`

In [16]:
# Check for missing values in movies metadata
movies_metadata_df.isna().sum()

budget                  3
genres                  3
imdb_id                 0
production_companies    3
release_date            3
revenue                 3
runtime                 3
title                   3
cast                    3
crew                    3
movie                   0
genre                   0
dtype: int64

In [17]:
# List of movies with missing information
movies_metadata_df[movies_metadata_df['title'].isna()]

,budget,genres,imdb_id,production_companies,release_date,revenue,runtime,title,cast,crew,movie,genre
2780,NaN,NaN,462322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Grindhouse (2007),Action;Horror;Thriller
3521,NaN,NaN,448694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Puss in Boots (2011),Animation;Action;Adventure
3793,NaN,NaN,1937390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nymphomaniac: Vol. I (2013),Drama

In [18]:
# Drop all movies with missing information
movies_metadata_df.dropna(inplace=True, axis=0)
movies_metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4068 entries, 0 to 4173
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4068 non-null   float64
 1   genres                4068 non-null   object
 2   imdb_id               4068 non-null   int64
 3   production_companies  4068 non-null   object
 4   release_date          4068 non-null   object
 5   revenue               4068 non-null   float64
 6   runtime               4068 non-null   float64
 7   title                 4068 non-null   object
 8   cast                  4068 non-null   object
 9   crew                  4068 non-null   object
 10  movie                 4068 non-null   object
 11  genre                 4068 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 413.2+ KB

Check and resolve missing values for `movie reviews`

In [19]:
# Check for missing values in movies reviews
movie_reviews_df.isna().sum()

imdb_id           0
review_summary    1
review_date       0
review_detail     1
dtype: int64

In [20]:
# Replace all missing values in review summary and detail with a blank
movie_reviews_df[['review_summary', 'review_detail']] = movie_reviews_df[['review_summary', 'review_detail']].fillna('')
movie_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 542633 entries, 0 to 557580
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   imdb_id         542633 non-null  int64
 1   review_summary  542633 non-null  object
 2   review_date     542633 non-null  object
 3   review_detail   542633 non-null  object
dtypes: int64(1), object(3)
memory usage: 20.7+ MB

#### __Data Wrangling and Visualizations__:

Conduct data wrangling on `movie metadata` to transform and structure data into a desired format

In [21]:
# Separate movie release year from the title
pattern_year = r'\((\d{4})\)$'
movies_metadata_df['release_year'] = movies_metadata_df['movie'].str.extract(pattern_year).astype(int)
movies_metadata_df['movie'] = movies_metadata_df['movie'].str.replace(pattern_year, '', regex=True).str.strip()
movies_metadata_df[['movie', 'release_year']].head(5)

# Drop columns containing duplicate movie information
dup_columns = ['genres', 'release_date', 'title']
movies_metadata_df = movies_metadata_df.drop(columns=dup_columns, axis=1)

# Rearrange the order of columns
desired_order = ['imdb_id', 'movie', 'release_year', 'genre', 'runtime', 'budget', 'revenue', 'production_companies', 'cast', 'crew']
movies_metadata_df = movies_metadata_df[desired_order]

movies_metadata_df.head(5)

,imdb_id,movie,release_year,genre,runtime,budget,revenue,production_companies,cast,crew
0,114709,Toy Story,1995,Animation;Adventure;Comedy,81.0,30000000.0,373554033.0,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,113497,Jumanji,1995,Action;Adventure;Family,104.0,65000000.0,262797249.0,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,113277,Heat,1995,Action;Crime;Drama,170.0,60000000.0,187436818.0,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
3,114319,Sabrina,1995,Comedy;Drama,127.0,58000000.0,0.0,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."
4,114576,Sudden Death,1995,Action;Crime;Thriller,106.0,35000000.0,64350171.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de..."

In [22]:
# Convert genre into list data type
movies_metadata_df['genre'] = movies_metadata_df['genre'].apply(lambda x : x.split(";"))

# Convert to a list of production companies
movies_metadata_df['production_companies'] = movies_metadata_df['production_companies'].apply(lambda x : utils.convert_str_to_dict(x, ['name']))
movies_metadata_df['production_companies'] = movies_metadata_df['production_companies'].apply(lambda list_of_dicts : [value for d in list_of_dicts for value in d.values()])

# TODO: Need to fix the issue on cast and crew with names containing single quotation
# movies_metadata_df['cast'] = movies_metadata_df['cast'].apply(lambda x : utils.convert_str_to_dict(x, ['character', 'name']))

movies_metadata_df[['genre', 'production_companies', 'cast', 'crew']].head(5)

,genre,production_companies,cast,crew
0,"[Animation, Adventure, Comedy]",[Pixar Animation Studios],"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[Action, Adventure, Family]","[TriStar Pictures, Teitler Film, Interscope Co...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[Action, Crime, Drama]","[Regency Enterprises, Forward Pass, Warner Bros.]","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
3,"[Comedy, Drama]","[Paramount Pictures, Scott Rudin Productions, ...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."
4,"[Action, Crime, Thriller]","[Universal Pictures, Imperial Entertainment, S...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de..."

Conduct data wrangling on `movie review` to transform and structure data into a desired format

In [23]:
# Get only the year the review was created
movie_reviews_df['review_year'] = pd.to_datetime(movie_reviews_df['review_date']).dt.year
movie_reviews_df = movie_reviews_df.drop(columns=['review_date'], axis=1)

movie_reviews_df.head(5)

,imdb_id,review_summary,review_detail,review_year
0,114709,"""Toy Story"" - The Toys are in town and somethi...","I'm 19, going on 20 in six days. I don't need ...",2005
1,114709,Pixar's first full length movie.,This was the first Pixar movie I've seen. I re...,2005
2,114709,Classic Pixar! This is what future Pixar films...,Remember the original Pixar movies? Remember w...,2005
3,114709,One of the first animations from Pixar,"When Toy Story came, in 1995,I was 9 years old...",2005
4,114709,Can it be ten years already?,PIXAR animation was but an experimental animat...,2005

Perform additional analysis of the data and create visual representations to gain a better understanding of the movie metadata and reviews. This information provides insights on trends and patterns in the movie data, which might be important especially on the reports that will be provided to the client.

In [24]:
# Show statistical summary of movie metadata and reviews
pd.merge(movies_metadata_df, movie_reviews_df, on=["imdb_id"], how="inner").describe()

,imdb_id,release_year,runtime,budget,revenue,review_year
count,5.425070e+05,542507.000000,542507.000000,5.425070e+05,5.425070e+05,542507.000000
mean,5.652373e+05,1995.807973,112.443653,4.209212e+07,1.550478e+08,2010.015587
std,7.657242e+05,18.338001,22.431024,5.340401e+07,2.477372e+08,6.248968
min,4.170000e+02,1902.000000,0.000000,0.000000e+00,0.000000e+00,1998.000000
25%,9.607100e+04,1988.000000,97.000000,3.500000e+06,1.040000e+07,2005.000000
50%,2.571060e+05,2002.000000,109.000000,2.100000e+07,6.161977e+07,2010.000000
75%,7.654290e+05,2008.000000,124.000000,6.000000e+07,1.874368e+08,2015.000000
max,5.247022e+06,2017.000000,254.000000,3.800000e+08,2.787965e+09,2021.000000

In [25]:
# TODO: Insert more visualizations

#### __For Text Pre-processing__:

__The movie summary and reviews undergo the following steps during the initial data pre-processing stage__
- Remove non-grammatical text like emails and URLs
- Replace non-ascii characters (some Python libraries are only limited to ascii characters like KeywordProcessor)
- Replace emojis with English word/s
- Handle contractions
- Handle slang words

In [26]:
emoji_dict = tp.get_emojis()
slang_word_dict = tp.get_slang_words(webscraped=False)

def initial_text_preprocessing(text):
    try:
        # Remove non-grammatical text
        text = tp.remove_email_address(text)
        text = tp.remove_hyperlink(text)

        # Replace non-ascii characters as there are Python libraries limiting this feature
        text = tp.replace_nonascii_characters(text)

        # Replace emojis with English word/s
        text = emoji_dict.replace_keywords(text)

        # Handle contractions
        text = contractions.fix(text)

        # Replace slang words
        text = slang_word_dict.replace_keywords(text)

    except Exception as err:
        print(f"ERROR: {err}")
        print(f"Input Text: {text}")

    return text


movie_reviews_df[['cleaned_review_summary', 'cleaned_review_detail']] = movie_reviews_df[['review_summary', 'review_detail']].applymap(initial_text_preprocessing)

# Display the comparison between the top 5 original review summaries and their cleaned versions
for i in range(5):
    print("Original Review Summary:")
    print(movie_reviews_df['review_summary'][i])
    print("\nCleaned Review Summary:")
    print(movie_reviews_df['cleaned_review_summary'][i])
    print("="*100)

# Display the comparison between the top 5 original review details and their cleaned versions
for i in range(5):
    print("Original Review Details:")
    print(movie_reviews_df['review_detail'][i])
    print("\nCleaned Review Details:")
    print(movie_reviews_df['cleaned_review_detail'][i])
    print("="*100)

Original Review Summary:
"Toy Story" - The Toys are in town and something more

Cleaned Review Summary:
"Toy Story" - The Toys are in town and something more
====================================================================================================
Original Review Summary:
Pixar's first full length movie.

Cleaned Review Summary:
Pixar's first full length movie.
====================================================================================================
Original Review Summary:
Classic Pixar! This is what future Pixar films should be like!

Cleaned Review Summary:
Classic Pixar! This is what future Pixar films should be like!
====================================================================================================
Original Review Summary:
One of the first animations from Pixar

Cleaned Review Summary:
One of the first animations from Pixar
====================================================================================================
Original Review Summary:
Can it be ten years already?

Cleaned Review Summary:
Can it be ten years already?
====================================================================================================
Original Review Details:
I'm 19, going on 20 in six days. I don't need to tell you that "Toy Story" is a movie tailor-made for the kiddies, but there's a special reservation for adults too. I should know, as should anyone who views it with an open mind. We've all had our favorite toys. For guys, like me, there's a 90% chance you played with either Transformers or G.I. Joe or Teenage Mutant Ninja Turtles or all three when you were six, seven, eight, or nine years-old. For me, it was Teenage Mutant Ninja Turtles and Godzilla action figures. I'd always imagine living out wild fantasy adventures in my room or basement; ah, the joy of being a kid again. But that's part of "Toy Story's" fun appeal. It gives you a chance to relive your childhood again. Today I saw for the first time in about eight years and it's still just as fresh and inventive as Pixar, probably the best film studio in computer animation, conceived it back in 1995. In the room of young Andy, the toys are alive - when he's not present of course, and cowboy Woody (voiced by Tom Hanks) is the boy's favorite item. But all that changes on Andy's birthday and a new toy given to him on that day captures the boy's heart - Buzz Lightyear (voiced by Tim Allen). Of course, any replacement of this sort inspires jealousy, and pretty soon Buzz is the new "it" item of the bedroom. Andy's given into everything Buzz Lightyear, even new bedsheets - bedsheets! - leaving poor Woody on the short end of the stick. But the thing is, Buzz has trouble believing he's just a simple toy and nothing more, as he thinks he's actually BUZZ LIGHTYEAR! It also seems this couldn't have come at a worse time for the toys, as Andy and his mother are moving away, which is causing all sorts of chaos as Woody tries to get everything organized so nobody is left behind, and that's exactly what happens with rivals Woody and Buzz, who are misplaced and must find their beloved Andy before they move. Not only that, they must also battle Sid, the serial killer in-training kid that lives next door and tortures toys. As directed by John Lasseter and his army of screenwriters including himself, Andrew Stanton (who would co-direct Pixar's future hit "Finding Nemo" in 2003) and Joel Cohen, "Toy Story" is true imaginative fantasy realized in superb animation. It more than brings the kid in you to the surface, it makes you want to be a kid again, as many toys have cameos including Army Men (including the Sergeant who's voiced by R. Lee Ermey) and Mr. Potato Head (voiced by Don Rickles). I love "Toy Story," and I think anyone who views it thoughtfully will love it too.10/10

Cleaned Review Details:
I am 19, going on 20 in six days. I do not need to tell you that "Toy Story" is a movie tailor-made for the kiddies, but there is a special reservation for adults too. I should know, as should anyone who views it with an open mind. We have all had our favorite toys. For guys, like me, there is a 90% chance you played with either Transformers or G.I. Joe or Teenage Mutant Ninja Turtles or all three when you were six, seven, eight, or nine years-old. For me, it was Teenage Mutant Ninja Turtles and Godzilla action figures. I would always imagine living out wild fantasy adventures in my room or basement; ah, the joy of being a kid again. But that is part of "Toy Story's" fun appeal. It gives you a chance to relive your childhood again. Today I saw for the first time in about eight years and it is still just as fresh and inventive as Pixar, probably the best film studio in computer animation, conceived it back in 1995. In the room of young Andy, the toys are alive - when he is not present of course, and cowboy Woody (voiced by Tom Hanks) is the boy's favorite item. But all that changes on Andy's birthday and a new toy given to him on that day captures the boy's heart - Buzz Lightyear (voiced by Tim Allen). Of course, any replacement of this sort inspires jealousy, and pretty soon Buzz is the new "it" item of the bedroom. Andy's given into everything Buzz Lightyear, even new bedsheets - bedsheets! - leaving poor Woody on the short end of the stick. But the thing is, Buzz has trouble believing he is just a simple toy and nothing more, as he thinks he is actually BUZZ LIGHTYEAR! It also seems this could not have come at a worse time for the toys, as Andy and his mother are moving away, which is causing all sorts of chaos as Woody tries to get everything organized so nobody is left behind, and that is exactly what happens with rivals Woody and Buzz, who are misplaced and must find their beloved Andy before they move. Not only that, they must also battle Sid, the serial killer in-training kid that lives next door and tortures toys. As directed by John Lasseter and his army of screenwriters including himself, Andrew Stanton (who would co-direct Pixar's future hit "Finding Nemo" in 2003) and Joel Cohen, "Toy Story" is true imaginative fantasy realized in superb animation. It more than brings the kid in you to the surface, it makes you want to be a kid again, as many toys have cameos including Army Men (including the Sergeant who is voiced by R. Lee Ermey) and Mr. Potato Head (voiced by Don Rickles). I love "Toy Story," and I think anyone who views it thoughtfully will love it too.10/10
====================================================================================================
Original Review Details:
This was the first Pixar movie I've seen. I remember seeing it back 10 years ago, back when it was new. Back then Pixar wasn't too well known in the world. This movie made their intro and beginning of their long line of great movies.Not only was it Pixar's first movie, but it was also the first ever CGI Movie ever made. Back then I didn't know what CGI was so I didn't had a clue how they even made the movie itself(I was only 7 when I first watched it in theaters).The story to this movie is unlike anything you've seen before. It all has to do with what do Toys do when no one is around to play with them. It features memorable characters and some existing toys like "Little Tykes, Mr. Potatoe Head, Slinky, Barrel of monkeys, etc." The main character is Woody a classic Cowboy doll who is the favorite toy of Andy, a kind and good boy. He gets respect and pride from the other toys. Life seems good for him.Till one day on Andy's Birthday, he receives a special toy that any boy would want a "Buzz Lightyear" action figure. Who has cool features that not even Woody has. And Woody fears Buzz will be Andy's new favorite toy and lose his respect and pride with the other toys.Toy story has some laughs, excitement, and great visuals for a Well done CGI movie. Every Animation lover should see this movie. If you like this movie, you'll like the sequel even more.I give it an 8/10 perfect movie for the whole family to watch.

Cleaned Review Details:
This was the first Pixar movie I have seen. I remember seeing it back 10 years ago, back when it was new. Back then Pixar was not too well known in the world. This movie made their intro and beginning of their long line of great movies.Not only was it Pixar's first movie, but it was also the first ever CGI Movie ever made. Back then I did not know what CGI was so I did not had a clue how they even made the movie itself(I was only 7 when I first watched it in theaters).The story to this movie is unlike anything you have seen before. It all has to do with what do Toys do when no one is around to play with them. It features memorable characters and some existing toys like "Little Tykes, Mr. Potatoe Head, Slinky, Barrel of monkeys, etc." The main character is Woody a classic Cowboy doll who is the favorite toy of Andy, a kind and good boy. He gets respect and pride from the other toys. Life seems good for him.Till one day on Andy's Birthday, he receives a special toy that any boy would want a "Buzz Lightyear" action figure. Who has cool features that not even Woody has. And Woody fears Buzz will be Andy's new favorite toy and lose his respect and pride with the other toys.Toy story has some laughs, excitement, and great visuals for a Well done CGI movie. Every Animation lover should see this movie. If you like this movie, you will like the sequel even more.I give it an 8/10 perfect movie for the whole family to watch.
====================================================================================================
Original Review Details:
Remember the original Pixar movies? Remember when Pixar didn't have stereotypical surfers and rappers? It was when the characters were fun and familiar. They didn't waste out time with farting jokes, but instead had smart jokes that weren't overdone. (even if they were more geared towards adults.) Luckily, we still have one good, classic Pixar movie; Toy Story. Peter Doctor knows how to make a fun and enjoyable family movie.Woody, is the "top toy" of Andy's bedroom. He leads meeting and events, and is one of the most popular toys there. But, then, Andy has a birthday party. Everybody is worried about getting replaced by a toy, but Woody assures them that there is nothing to be worried about. Funny, how he ends up getting replaced by Buzz Lightyear-the new popular toy. Ironic, huh? So, he gets jealous and tries to kill Buzz, by setting up a trap and pushing him out the window. Then, the other toys find out, and think "Let's kill Woody!" Wow, the irony in it all! The only way the toys will forgive him, is if he brings Buzz back. So, Woody and Buzz meet up at "Pizza Palace." After exploring a bit, they get caught by Sid-the sick and twisted kid next door.But, what makes this movie so good? Toy Story isn't your average kids' film. It seems to have a message in it all. Two unlikely friends, Buzz and Woody hate each other at first. Then, they slowly learn trust each other, and stick together through thick and thin.Toy Story is perhaps one of those "feel good" movies. It's fun, and doesn't try to be anything it's not. Toy Story is an enjoyable, fun, and all-around excellent film. Be sure to put it on your "To Watch" list.10/10

Cleaned Review Details:
Remember the original Pixar movies? Remember when Pixar did not have stereotypical surfers and rappers? It was when the characters were fun and familiar. They did not waste out time with farting jokes, but instead had smart jokes that were not overdone. (even if they were more geared towards adults.) Luckily, we still have one good, classic Pixar movie; Toy Story. Peter Doctor knows how to make a fun and enjoyable family movie.Woody, is the "top toy" of Andy's bedroom. He leads meeting and events, and is one of the most popular toys there. But, then, Andy has a birthday party. Everybody is worried about getting replaced by a toy, but Woody assures them that there is nothing to be worried about. Funny, how he ends up getting replaced by Buzz Lightyear-the new popular toy. Ironic, huh? So, he gets jealous and tries to kill Buzz, by setting up a trap and pushing him out the window. Then, the other toys find out, and think "Let us kill Woody!" Wow, the irony in it all! The only way the toys will forgive him, is if he brings Buzz back. So, Woody and Buzz meet up at "Pizza Palace." After exploring a bit, they get caught by Sid-the sick and twisted kid next door.But, what makes this movie so good? Toy Story is not your average kids' film. It seems to have a message in it all. Two unlikely friends, Buzz and Woody hate each other at first. Then, they slowly learn trust each other, and stick together through thick and thin.Toy Story is perhaps one of those "feel good" movies. It is fun, and does not try to be anything it is not. Toy Story is an enjoyable, fun, and all-around excellent film. Be sure to put it on your "To Watch" list.10/10
====================================================================================================
Original Review Details:
When Toy Story came, in 1995,I was 9 years old and it was a remarkable animation;Pixar wasn't famous like today, and we didn't have movies like Shrek and Finding Nemo. But I have to say that even in the present days this movie is awesome and has great graphics. Only to start, the story: The toys have life of their own, and every time we humans are distant from them, they have their lives and their own plans. Woody, until Buzz LightYear comes up,was Andy's favorite toy and also the leader of all of them. Jealous of Buzz's fame, Woody tries to get a rid of him, and because of that is totally ignored by the others toys, who once were his friends and admired him. Looking what he did, Woody goes search Buzz and them many adventures happen.

Cleaned Review Details:
When Toy Story came, in 1995,I was 9 years old and it was a remarkable animation;Pixar was not famous like today, and we did not have movies like Shrek and Finding Nemo. But I have to say that even in the present days this movie is awesome and has great graphics. Only to start, the story: The toys have life of their own, and every time we humans are distant from them, they have their lives and their own plans. Woody, until Buzz LightYear comes up,was Andy's favorite toy and also the leader of all of them. Jealous of Buzz's fame, Woody tries to get a rid of him, and because of that is totally ignored by the others toys, who once were his friends and admired him. Looking what he did, Woody goes search Buzz and them many adventures happen.
====================================================================================================
Original Review Details:
PIXAR animation was but an experimental animation company that had a track record of short film contributions to film festivals when Disney invested in and ultimately released their first project,Toy Story. I figured Disney probably had a good feeling about this one,but I'm not sure they anticipated the kind of groundbreaking swell of animation this would shepherd in.The concept is a fitfully simple and cute one: when kids are away,their toys take on personalities and lives of their own,plotting,planning,bickering,reacting,flirting,etc. In this particular den of toys, a Cowboy Woody doll(voiced by Tom Hanks) is the leader,flanked by a Slinky dog(Jim Varney),green toy soldiers(aptly casted R.Lee Ermey as their platoon leader),a Mr.Potato head(Don Rickles), a Piggy bank(John Ratzenberger,forever Cliff Claven from "Cheers") and a Bo Peep doll(Annie Potts). Into the mix is a new,electronic Buzz Lightyear action figure(Tim Allen,who probably does the best voice acting of the bunch here),who almost instantly wows the locals and stirs jealousy from Woody.With music from Randy Newmann--a personal fave of mine--this movie's colors,attention to detail and wry humor make it easily adaptable to kids and adults alike. CAn it really be ten years since this film broke new ground on animation? How time flies in the wake of stuff like "Shrek" and "FInding Nemo"!

Cleaned Review Details:
PIXAR animation was but an experimental animation company that had a track record of short film contributions to film festivals when Disney invested in and ultimately released their first project,Toy Story. I figured Disney probably had a good feeling about this one,but I am not sure they anticipated the kind of groundbreaking swell of animation this would shepherd in.The concept is a fitfully simple and cute one: when kids are away,their toys take on personalities and lives of their own,plotting,planning,bickering,reacting,flirting,etc. In this particular den of toys, a Cowboy Woody doll(voiced by Tom Hanks) is the leader,flanked by a Slinky dog(Jim Varney),green toy soldiers(aptly casted R.Lee Ermey as their platoon leader),a Mr.Potato head(Don Rickles), a Piggy bank(John Ratzenberger,forever Cliff Claven from "Cheers") and a Bo Peep doll(Annie Potts). Into the mix is a new,electronic Buzz Lightyear action figure(Tim Allen,who probably does the best voice acting of the bunch here),who almost instantly wows the locals and stirs jealousy from Woody.With music from Randy Newmann--a personal fave of mine--this movie's colors,attention to detail and wry humor make it easily adaptable to kids and adults alike. CAn it really be ten years since this film broke new ground on animation? How time flies in the wake of stuff like "Shrek" and "FInding Nemo"!
====================================================================================================

__Name Entity Recognition (NER)__

In [27]:
# TODO: Train own NER with the names of crews and casts and other important info

# Load the English language model in spaCy
nlp = spacy.load("en_core_web_sm")

# Create a new dataFrame to store extracted name entitiesm then combine/rename the following labels
# - LOCATION : GPE, LOC and FACE
# - DATE_TIME : DATE, TIME
# - ORGANIZATION : ORG

column_names = ['PERSON', 'WORK_OF_ART', 'LOCATION', 'DATE_TIME', 'ORGANIZATION', 'PRODUCT', 'EVENT', 'LANGUAGE']
movie_name_entities_df = pd.DataFrame(columns=column_names)

# Extract and remove name entities from 'cleaned_review_summary' and 'cleaned_review_detail' columns
movie_reviews_df['cleaned_review_summary'], movie_name_entities_df = tp.extract_name_entity(movie_reviews_df['cleaned_review_summary'], nlp, movie_name_entities_df)
movie_reviews_df['cleaned_review_detail'], movie_name_entities_df = tp.extract_name_entity(movie_reviews_df['cleaned_review_detail'], nlp, movie_name_entities_df)

# Display the comparison between the top 5 original review summaries and their cleaned versions
for i in range(5):
    print("Original Review Summary:")
    print(movie_reviews_df['review_summary'][i])
    print("\nCleaned Review Summary (NER Removed):")
    print(movie_reviews_df['cleaned_review_summary'][i])
    print("="*50)

# Display the comparison between the top 5 original review details and their cleaned versions
for i in range(5):
    print("Original Review Details:")
    print(movie_reviews_df['review_detail'][i])
    print("\nCleaned Review Details (NER Removed):")
    print(movie_reviews_df['cleaned_review_detail'][i])
    print("="*50)

In [ ]:
# Dataframe of the extracted name entities
movie_name_entities_df = pd.merge(movie_reviews_df['imdb_id'], movie_name_entities_df, left_index=True, right_index=True)
movie_name_entities_df.head(10)

,imdb_id,PERSON,WORK_OF_ART,GPE,DATE,ORG,PRODUCT,TIME,FAC,EVENT,LOC,MONEY,LANGUAGE,LAW
0,112896,"[Mel Brooks, Young Frankenstein, Mel Brooks, B...",[Dracula: Dead And Loving It],NaN,"[these days, 15-year-old]","[Blazing Saddles, Brooks, Brooks, Brooks, Broo...",NaN,NaN,NaN,NaN,[Dracula],NaN,[English],NaN
1,113862,"[HOLLAND, Stephen Herek, Patrick Sheane Duncan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,113972,"[Johnny, Christopher Walken, Charles S. Dutton]",[Gothika],"[Walken, Marsha]",NaN,[Roma Maffia],NaN,[an hour and a half],NaN,NaN,NaN,NaN,NaN,NaN
3,114898,"[Majorino, Mad Max]",[between Mad Max on water and the standard],NaN,"[summer, summer]","[Mariner, Mariner, Mariner, Smokers, Waterworld]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,114214,"[John Herod(Gene Hackman, Crowe, John Herod]",NaN,NaN,NaN,[Modern Western],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,106582,"[Michelle Joyner, Eric Quaien, John Lithgow, Q...",NaN,[Quaien],"[Eight months, 1993]","[The Rocky Mountain Rescue, Lithgow, Stallone,...",[Micheal Rooker],NaN,[Elm Street],[The Rocky Series],NaN,"[millions of dollars, the millions of dollars]",NaN,NaN
6,115798,"[Matthew Broderick, Jim Carrey, Leslie Mann, J...",NaN,NaN,NaN,NaN,[innuendo(porno],NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,45152,"[Don Lockwood, Lina Lamont, Jean Hagen, Kathy ...",[Singin' in the Rain],[Hollywood],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,47396,[James Stewart],NaN,NaN,"[the day, the fifties]","[Hitchcock, Hitchcock, Hitchcock]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,62622,NaN,NaN,NaN,"[2001, 2001, 2001]",NaN,NaN,"[The first half hour, the last half hour]",NaN,NaN,NaN,NaN,NaN,NaN
10,62622,"[Keir Dullea, Stanley Kubrick's, Stanley Kubri...",NaN,NaN,NaN,"[Fantastic Performances, HAL]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,25586,[Bette Davis'],[Voyager and All About Eve],NaN,"[the 1930s, today, only a few years later]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,117887,"[Tom Hanks, Tom Everett Scott, Liv Tyler, John...",[That Thing You Do],NaN,"[1960s, Saturday, Nineteen-year-old]",[Great Fun],NaN,[night],NaN,NaN,NaN,NaN,NaN,NaN
13,116908,"[Geena, Davis, Jackson, Geena, Geena, Jackson,...",[The Bourne Identity],NaN,"[Christmas, 8 years ago]",[CIA],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,67992,NaN,[Willy Wonka & the Chocolate Factory],NaN,[1990-1991],[Willy Wonka & the Chocolate Factory],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,67992,"[Tim Burton, Roald Dahl's, Charlie Bucket, Cha...","[Willy Wonka, Willy Wonka]",NaN,"[30 years old, 2005]","[REALLY, Wonka, Dahl]",NaN,[every couple of seconds],NaN,NaN,NaN,NaN,NaN,NaN
16,103772,"[Douglas, Michael Douglas, Sharon Stone, Dougl...",NaN,[San Francisco],NaN,"[Stone, Stone, Stone, Stone]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,40427,"[Film Noir, Jack Webb, Roy Martin, Roy Morgan(...",NaN,[L.A.],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,60196,NaN,NaN,NaN,NaN,"[Clint Eastwood, Clint Eastwood's, Sergio Leone]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,89881,"[Shakespeare, Shakespeare, Kent, Lady Kaeda, E...","[Macbeth, ""King Lear, Lear, Lear, ""King Lear]","[Man, Japan, Britain, Tongo, Edmund, Goneril, ...","[a little later, 16th-century]","[Kurosawa, Kurosawa, Tatsuya Nakadai, Hidetora...",NaN,NaN,[the Great Buddha],NaN,[the Third Castle],[$1.5 million],NaN,NaN

In [ ]:
movie_reviews_df.to_csv("reviews.csv", index=False)

In [ ]:
movie_name_entities_df.to_csv('ner2.csv', index=False)

__Utilize regular expressions to eliminate punctuation, substitute whitespaces, transform characters to lowercase, and filter out stopwords from movie reviews__

In [ ]:
# Initialize the English stop words list
list_of_stopwords = set(stopwords.words('english'))

def supplemental_text_preprocessing(text):
    # Remove non-alphanumeric characters except for the following
    # - hyphen (-) that is in between alphanumeric
    text = tp.remove_non_alphanumeric_char(text)
    
    # Remove leading and trailing whitespaces
    text = text.strip()

    # Replace multiple whitespaces with a single space
    text = tp.replace_whitespace(text)

    # Remove stopwords
    text = tp.remove_stopwords(text, list_of_stopwords)

    return text

# Apply text cleaning to 'cleaned_review_summary' and 'cleaned_review_detail' columns
movie_reviews_df[['cleaned_review_summary', 'cleaned_review_detail']] = movie_reviews_df[['cleaned_review_summary', 'cleaned_review_detail']]\
                                                                            .applymap(supplemental_text_preprocessing)

# Display the comparison between the top 5 original review summaries and their cleaned versions
for i in range(5):
    print("Original Review Summary:")
    print(movie_reviews_df['review_summary'][i])
    print("\nCleaned Review Summary (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):")
    print(movie_reviews_df['cleaned_review_summary'][i])
    print("="*100)

# Display the comparison between the top 5 original review details and their cleaned versions
for i in range(5):
    print("Original Review Details:")
    print(movie_reviews_df['review_detail'][i])
    print("\nCleaned Review Details (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):")
    print(movie_reviews_df['cleaned_review_detail'][i])
    print("="*100)

Original Review Summary:
Frightfully Fangless

Cleaned Review Summary (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
Frightfully Fangless
====================================================================================================
Original Review Summary:
Original, Insightful, And Thoroughly Entertaining

Cleaned Review Summary (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
Original Insightful And Thoroughly Entertaining
====================================================================================================
Original Review Summary:
really good movie

Cleaned Review Summary (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
really good movie
====================================================================================================
Original Review Summary:
Despite the undeserved kicking, this is still an enjoyable summer blockbuster, nothing more but certainly nothing less

Cleaned Review Summary (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
Despite undeserved kicking still enjoyable blockbuster nothing certainly nothing less
====================================================================================================
Original Review Summary:
Modern Western with good idea

Cleaned Review Summary (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
good idea
====================================================================================================
Original Review Details:
When a "serious" movie is pitifully appalling, it is easy to write a comedic review. When a comedic movie falls into the same category, it is almost impossible to make sport of it  because any frivolity in the review may be misconstrued as comedic quality that the MOVIE possesses. So let me clarify from the outset: This "comedy" is not to be laughed at.Who would have thought that Mel Brooks  the genius writer/director behind Blazing Saddles, History Of The World and Young Frankenstein (a successful comedy movie wholly in the vein of this failed one  pun intended)  would be prone to helming a comedy as pitifully appalling as "Dracula: Dead And Loving It"? One imagines that Brooks' comic radar is so finely-attuned that he would have seen through the financial and corporate layers of this film's drudgery and simply either abandoned it and cut his losses when he saw that it was not working, or salvaged the potential high points and let the cutting room floor eat the rest.He did neither, which reveals that something is terribly askew in the Brooks universe. No longer is it "good to be the king" - Mel Brooks is merely an old man these days, his tastes no longer running congruent with his audience's; his comedy no longer as energetic or as biting as the wit of his youth (which, relatively speaking, was his late-40s anyway).The Brooks gag formulas are definitely still there, but seem lazily inserted as dependable fallback material, rather than inspired stylistic substance. Jokes which I can imagine my 15-year-old self repeating ad nauseam in the schoolyard, now fall flat and wearisome on inured sensibilities.Not only does the film suffer from rehashed and lazy gags, Brooks' direction lacks coherence and is oft-times merely cursory; there are wide shots, reverses and close-ups which serve no purpose, camera blandly flitting from one unnecessary shot to the next, not merely misdirecting our eye, but searching for subject matter to fill the frame judiciously. Many shots seem to be second-unit throwaway footage. Instead of easing back and letting the film's levity wash over me, as should have been the case, all these logistical details kept bugging my senses, detracting from the already-sparse humor.During the cast-and-crew screening for this film, one has to wonder whether there were any genuine laughs or whether the aura of the director's past glories tainted the crew into believing that they had a good comedy on their hands, thereby eliciting perfunctory giggles out of respect for their elders.In this film's adherence to the original Dracula story and noticeable neglect of comedic opportunities, not only did it fail as a good comedy, it becomes barely convincing as an A-List movie. Brooks did not need to re-make "Dracula". Yet this seems to be all he did  in a manner inferior to that of droves of dramatic film-makers before him. Mel's strong suit is COMEDY. So why were we subjected to a film about the infamous psychotic blood-drinker, so loosely sprinkled with jokes that they seem incongruous within the context of the morbid tale? Where you would expect punchlines, there are scene-fades; where you would expect a gag, there is exposition of the Dracula legend; where you would expect laugh-out-loud-slapstick, there are strained attempts at re-capturing youthful insouciance from laurels past. And the dance sequence between Dracula and Mina was needless padding. (Makes you wonder what DID make the cutting room floor.) The actors vacillate between parodying Victorian characters and actually *playing* them. Harvey Korman's Dr. Seward can almost be an actual over-actor from one of the REAL Dracula movies, whilst Steven Weber's Jonathan Harker frequently comes across as an exaggerated English nobleman from a Christopher Lee film. Peter MacNichol, though, makes the perfect Renfield  for ANY Dracula film, serious or spoof - and is the only actor who truly nails his role in this blunt-toothed parody. Amy Yasbeck and Lysette Anthony are just too damn hot to be funny: all the self-deprecating melodrama in the world is not gonna help, chickie-babes - LOOK AT THOSE RACKS! On paper, Leslie Neilsen's Dracula seemed like a hilarious coup, as did Mel Brooks' Dr. van Helsing, but both seemed to be laboring under the specter of their own reputations as funnymen. Neilsen playing STRAIGHT and being oblivious to his own humor is how he works best, but here he actively went for laughs, which means that even Brooks, as director, did not discern Neilsen's forte - or *did* discern it and chose to make Neilsen play against type anyway  either way, an erroneous decision. And Brooks' van Helsing seemed too self-aware of every mispronunciation he made - for the sake of schoolyard quotes - to be regarded as genuinely hilarious.If Mel Brooks has grown so blind that he cannot see that the comedy boat has left him onshore; if he has become so oblivious to discernment that he actually thinks this film is noteworthy enough to be considered a vital "comedy", the movie's subtitle may well be applied to HIM  "Dead  And Loving It".(Movie Maniacs, visit: www.thedunmore.com/POFFY-MovieReviews.html)

Cleaned Review Details (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
When serious movie pitifully appalling easy write comedic review When comedic movie falls category almost impossible make sport frivolity review may misconstrued comedic quality MOVIE possesses So let clarify outset This comedy laughed Who would thought genius behind History Of The World successful comedy movie wholly vein failed pun intended would pr helming comedy pitifully appalling imagines comic radar would seen financial corporate layers film drudgery simply either abandd cut losses saw working salvaged potential high points let cutting room floor eat rest He neither reveals something terribly askew universe No longer good king merely old man tastes longer running congruent audience comedy longer energetic biting wit youth relatively speaking anyway The gag formulas definitely still seem lazily inserted dependable fallback material rather inspired stylistic substance Jokes I imagine self repeating ad nauseam schoolyard fall flat wearisome inured sensibilities Not film suffer rehashed lazy gags direction lacks coherence merely cursory wide shots reverses serve purpose camera blandly flitting unnecessary shot next merely misdirecting eye searching subject matter fill frame judiciously Many shots seem unit throwaway footage Instead easing back letting film levity wash case logistical details kept bugging senses detracting humor During screening film wonder whether genuine laughs whether aura director past glories tainted crew believing good comedy hands thereby eliciting perfunctory giggles respect elders In film adherence original story noticeable neglect comedic opportunities fail good comedy becomes barely convincing movie need Yet seems manner inferior droves dramatic strong suit COMEDY So subjected film infamous psychotic loosely sprinkled jokes seem incongruous within context morbid tale Where would expect punchlines would expect gag exposition legend would expect strained attempts youthful insouciance laurels past And dance sequence needless padding Makes wonder DID make cutting room floor The actors vacillate parodying Victorian characters actually playing Dr almost actual REAL movies whilst frequently comes across exaggerated nobleman film though makes perfect ANY film serious spoof actor truly nails role parody damn hot funny melodrama world going help LOOK AT THOSE RACKS On paper seemed like hilarious coup Dr seemed laboring specter reputations funnymen playing STRAIGHT oblivious humor works best actively went laughs means even director discern forte discern chose make play type anyway either way errous decision And seemed every mispronunciation made sake schoolyard quotes regarded genuinely hilarious If grown blind see comedy boat left onshore become oblivious discernment actually thinks film noteworthy enough considered vital comedy movie subtitle may well applied Dead And visit
====================================================================================================
Original Review Details:
MR. HOLLAND'S OPUS **** Director Stephen Herek and script-writer Patrick Sheane Duncan create a motion picture that is original, insightful, and thoroughly entertaining with 'Mr. Holland's Opus'. We follow the story of a young piano composer (Richard Dreyfuss), whose love for music leads him to become a music teacher. He inspires a love of music and artistic freedom in his students in the different seasons of his career while he deals with hardships at home. The story's memorable ending excellently closes this wonderfully engendered film. Alicia Witt, Terrence Howard, and Jean Louisa Kelly are the three particular students Dreyfuss connects with throughout his career, and Glenne Headly plays his wife. A winner.

Cleaned Review Details (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
MR S OPUS Director create motion picture original insightful thoroughly entertaining Mr Opus We follow story young piano composer whose love music leads become music teacher He inspires love music artistic freedom students different seasons career deals hardships home The story memorable ending excellently closes wonderfully engendered film particular students connects throughout career plays wife A winner
====================================================================================================
Original Review Details:
I only hired this movie because Johnny Depp and the great Christopher Walken are in this movie and i thought the movie would be a bit crap but it turned out to be really good.The movies about a man (Depp) who just got off a train with his daughter and a man (Walken) and a woman (Roma Maffia) kidnap his daughter and give him a gun and tell him he has to kill the Governor (Marsha Mason)with in an hour and a half or his daughter will be killed.This film also stars Charles S. Dutton from the films Gothika,A Time To Kill,Mimic and Black Dog and nick of time is by far one of his best movies.Over all this movie is good and it keep me entertained from start to finish and my rating is 6 out of 10.

Cleaned Review Details (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
I hired movie Depp great movie thought movie would bit crap turned really good The movies man Depp got train daughter man woman kidnap daughter give gun tell kill Governor Mason daughter killed This film also stars films A Time To Kill Mimic Black Dog nick time far one best movies Over movie good keep entertained start finish rating
====================================================================================================
Original Review Details:
The polar icecaps have melted, all land has been lost below the rising waves and man has had to adapt to a new world where the survivors live wholly on the sea. Mankind now exists within several key groups: slavers, smokers, small communities and lone sailors who trade their way as they go. One such trader is the Mariner, a tough, lone man who mistrusts everyone  a mistrust that is proved correct when a community spots he is also a mutant and sentences him to death. Before it can be carried out though, the Smokers attack and the Mariner is able to escape thanks to a woman and a little girl. However the little girl also happens to "be" the only existing map to dry land and the Mariner finds himself pursued by the Smokers.Everyone knows that the critics had buried this one before it even reached a single screen. It is rare for critics to see horrible movies  few of these make it to the cinema  so whenever they get the chance to write a scathing review, they tend to take it and run with it. However as the critics moved onto the bandwagons of other years, Waterworld has been left to stand for itself and be judged on its own merits. When you look at it as it actually is, the film just sits as an OK blockbuster, nothing more but certainly nothing less either. The plot is a cross between Mad Max on water and the standard "tough guy coming to love little kid" things that provides a plot driver and supposedly an emotional way in. In creating a good story, it doesn't really manage it because it is too full of holes and lacks a real sense of engaging motion and characters but then, isn't that something you could say of many blockbusters.The creation of its own future is pretty well done and it all looks good even if it does lack any sense of logic. Again, I don't understand why it got such a kicking because to my eye it looked pretty good considering the challenges of shooting on water. Too many lazy reviewers (professional and amateur alike) have jumped on the "all at sea" line when talking about the performances and, although few are that great, lazy joking is rather a critique. Costner goes for a dark hero but misses a bit and ends up just being a bit unrelatable until his predictable sea change (sorry) at the end. He is still OK but didn't help me get into the characters. Tripplehorn is basic and her character could have easily been played by anyone. Majorino is annoying of course but then she is a typical cute kid role and nothing more. Hopper at least has fun and he does add a bit of enjoyment to the film where the others are forced to treat the material a bit more seriously; the film's high points generally come when he is on screen. The rest of the cast fill the space but don't do a great deal else but then, like many blockbusters, this is not an actor's film.Overall then, critically mauled and great fun for critics of the time but in essence it is just another in a long line of average blockbuster movies. The cast aren't great, the story is so-so, the action is enjoyable and the design of it looks good (albeit a bit too much indebted to Mad Max). Nothing special about it and mostly memorable for the kicking it unjustly received but if you are looking for an apocalyptic summer blockbuster then there is no reason why this shouldn't do the job.

Cleaned Review Details (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
The polar icecaps melted land lost rising waves man adapt new world survivors live wholly sea Mankind exists within several key groups slavers smokers small communities lone sailors trade way go trader tough lone man mistrusts everyone mistrust proved correct community spots also mutant sentences death Before carried though attack able escape thanks woman little girl However little girl also happens existing map dry land finds pursued Everyone knows critics buried one even reached single screen It rare critics see horrible movies make cinema whenever get chance write scathing review tend take run However critics moved onto bandwagons years left stand judged merits When look actually film sits OK blockbuster nothing certainly nothing less either The plot cross tough guy coming love little kid things provides plot driver supposedly emotional way In creating good story really manage full holes lacks real sense engaging motion characters something could say many blockbusters The creation future pretty well done looks good even lack sense logic Again I understand got kicking eye looked pretty good considering challenges shooting water Too many lazy reviewers professional amateur alike jumped sea line talking performances although great lazy joking rather critique Costner goes dark hero misses bit ends bit unrelatable predictable sea change sorry end He still OK help get characters Tripplehorn basic character could easily played anyone annoying course typical cute kid role nothing Hopper least fun add bit enjoyment film others forced treat material bit seriously film high points generally come screen The rest cast fill space great deal else like many blockbusters actor film Overall critically mauled great fun critics time essence another long line average blockbuster movies The cast great story action enjoyable design looks good albeit bit much indebted Nothing special mostly memorable kicking unjustly received looking apocalyptic blockbuster reason job
====================================================================================================
Original Review Details:
The movie is about a quick-draw contest in a small western town run by a gunslinger named John Herod(Gene Hackman). The Lady(Sharon Stone), The Kid(Leonardo DiCaprio), and a retired gunslinger by the name of Cort(Russel Crowe) are all contestants against each other, greedy idiots, and John Herod who has surprisingly signed himself up for the tournament.The movie is very entertaining and fast paced. The acting is above-average, the writing is decent, but the idea of this quick-contest in a small town was just a great idea. Its very fresh and original. I enjoyed the movie although it wasn't done amazingly well. Overall, its an exciting movie and is just a fun movie.I recommend this movie.

Cleaned Review Details (Non-alphanumeric Characters Removed, Lowercased, Extra Whitespaces Removed, Stopwords Removed):
The movie contest small western town run gunslinger named The Lady Sharon Stone The Kid Leonardo DiCaprio retired gunslinger name Cort Russel contestants greedy idiots surprisingly signed tournament The movie entertaining fast paced The acting writing decent idea small town great idea Its fresh original I enjoyed movie although done amazingly well Overall exciting movie fun movie I recommend movie
====================================================================================================

__Implement Spacy's lemmatization on movie reviews, emphasizing the significance of lemmatization in capturing the base or root form of words__

In [ ]:
# TODO: Words with hyphen are being tokenized or split

# Load the spaCy language model
# See: https://spacy.io/usage/models
nlp = spacy.load("en_core_web_sm")
    
# Apply lemmatization to 'review_summary' and 'review_detail' columns
movie_reviews_df['cleaned_review_summary'] = tp.lemmatize_text(movie_reviews_df['cleaned_review_summary'], nlp)
movie_reviews_df['cleaned_review_detail'] = tp.lemmatize_text(movie_reviews_df['cleaned_review_detail'], nlp)

# Display the comparison between the top 5 original review summaries and their lemmatized versions
for i in range(5):
    print("Original Review Summary:")
    print(movie_reviews_df['review_summary'][i])
    print("\nLemmatized Review Summary:")
    print(movie_reviews_df['cleaned_review_summary'][i])
    print("="*100)

# Display the comparison between the top 5 original review details and their lemmatized versions
for i in range(5):
    print("Original Review Details:")
    print(movie_reviews_df['review_detail'][i])
    print("\nLemmatized Review Details:")
    print(movie_reviews_df['cleaned_review_detail'][i])
    print("="*100)

Original Review Summary:
Frightfully Fangless

Lemmatized Review Summary:
Frightfully Fangless
====================================================================================================
Original Review Summary:
Original, Insightful, And Thoroughly Entertaining

Lemmatized Review Summary:
original Insightful thoroughly entertain
====================================================================================================
Original Review Summary:
really good movie

Lemmatized Review Summary:
good movie
====================================================================================================
Original Review Summary:
Despite the undeserved kicking, this is still an enjoyable summer blockbuster, nothing more but certainly nothing less

Lemmatized Review Summary:
despite undeserved kicking enjoyable blockbuster certainly
====================================================================================================
Original Review Summary:
Modern Western with good idea

Lemmatized Review Summary:
good idea
====================================================================================================
Original Review Details:
When a "serious" movie is pitifully appalling, it is easy to write a comedic review. When a comedic movie falls into the same category, it is almost impossible to make sport of it  because any frivolity in the review may be misconstrued as comedic quality that the MOVIE possesses. So let me clarify from the outset: This "comedy" is not to be laughed at.Who would have thought that Mel Brooks  the genius writer/director behind Blazing Saddles, History Of The World and Young Frankenstein (a successful comedy movie wholly in the vein of this failed one  pun intended)  would be prone to helming a comedy as pitifully appalling as "Dracula: Dead And Loving It"? One imagines that Brooks' comic radar is so finely-attuned that he would have seen through the financial and corporate layers of this film's drudgery and simply either abandoned it and cut his losses when he saw that it was not working, or salvaged the potential high points and let the cutting room floor eat the rest.He did neither, which reveals that something is terribly askew in the Brooks universe. No longer is it "good to be the king" - Mel Brooks is merely an old man these days, his tastes no longer running congruent with his audience's; his comedy no longer as energetic or as biting as the wit of his youth (which, relatively speaking, was his late-40s anyway).The Brooks gag formulas are definitely still there, but seem lazily inserted as dependable fallback material, rather than inspired stylistic substance. Jokes which I can imagine my 15-year-old self repeating ad nauseam in the schoolyard, now fall flat and wearisome on inured sensibilities.Not only does the film suffer from rehashed and lazy gags, Brooks' direction lacks coherence and is oft-times merely cursory; there are wide shots, reverses and close-ups which serve no purpose, camera blandly flitting from one unnecessary shot to the next, not merely misdirecting our eye, but searching for subject matter to fill the frame judiciously. Many shots seem to be second-unit throwaway footage. Instead of easing back and letting the film's levity wash over me, as should have been the case, all these logistical details kept bugging my senses, detracting from the already-sparse humor.During the cast-and-crew screening for this film, one has to wonder whether there were any genuine laughs or whether the aura of the director's past glories tainted the crew into believing that they had a good comedy on their hands, thereby eliciting perfunctory giggles out of respect for their elders.In this film's adherence to the original Dracula story and noticeable neglect of comedic opportunities, not only did it fail as a good comedy, it becomes barely convincing as an A-List movie. Brooks did not need to re-make "Dracula". Yet this seems to be all he did  in a manner inferior to that of droves of dramatic film-makers before him. Mel's strong suit is COMEDY. So why were we subjected to a film about the infamous psychotic blood-drinker, so loosely sprinkled with jokes that they seem incongruous within the context of the morbid tale? Where you would expect punchlines, there are scene-fades; where you would expect a gag, there is exposition of the Dracula legend; where you would expect laugh-out-loud-slapstick, there are strained attempts at re-capturing youthful insouciance from laurels past. And the dance sequence between Dracula and Mina was needless padding. (Makes you wonder what DID make the cutting room floor.) The actors vacillate between parodying Victorian characters and actually *playing* them. Harvey Korman's Dr. Seward can almost be an actual over-actor from one of the REAL Dracula movies, whilst Steven Weber's Jonathan Harker frequently comes across as an exaggerated English nobleman from a Christopher Lee film. Peter MacNichol, though, makes the perfect Renfield  for ANY Dracula film, serious or spoof - and is the only actor who truly nails his role in this blunt-toothed parody. Amy Yasbeck and Lysette Anthony are just too damn hot to be funny: all the self-deprecating melodrama in the world is not gonna help, chickie-babes - LOOK AT THOSE RACKS! On paper, Leslie Neilsen's Dracula seemed like a hilarious coup, as did Mel Brooks' Dr. van Helsing, but both seemed to be laboring under the specter of their own reputations as funnymen. Neilsen playing STRAIGHT and being oblivious to his own humor is how he works best, but here he actively went for laughs, which means that even Brooks, as director, did not discern Neilsen's forte - or *did* discern it and chose to make Neilsen play against type anyway  either way, an erroneous decision. And Brooks' van Helsing seemed too self-aware of every mispronunciation he made - for the sake of schoolyard quotes - to be regarded as genuinely hilarious.If Mel Brooks has grown so blind that he cannot see that the comedy boat has left him onshore; if he has become so oblivious to discernment that he actually thinks this film is noteworthy enough to be considered a vital "comedy", the movie's subtitle may well be applied to HIM  "Dead  And Loving It".(Movie Maniacs, visit: www.thedunmore.com/POFFY-MovieReviews.html)

Lemmatized Review Details:
movie pitifully appalling easy write comedic review comedic movie fall category impossible sport frivolity review misconstrue comedic quality movie possess let clarify outset comedy laugh thought genius history World successful comedy movie wholly vein fail pun intend pr helm comedy pitifully appalling imago comic radar financial corporate layer film drudgery simply abandd cut loss work salvage potential high point let cut room floor eat rest reveal terribly askew universe long good king merely old man taste long run congruent audience comedy long energetic biting wit youth relatively speak gag formula definitely lazily insert dependable fallback material inspire stylistic substance joke I imagine self repeat ad nauseam schoolyard fall flat wearisome inure sensibility film suffer rehash lazy gag direction lack coherence merely cursory wide shot reverse serve purpose camera blandly flit unnecessary shot merely misdirect eye search subject matter fill frame judiciously shot unit throwaway footage instead ease let film levity wash case logistical detail bugging sense detracting humor screen film wonder genuine laugh aura director past glory taint crew believe good comedy hand elicit perfunctory giggle respect elder film adherence original story noticeable neglect comedic opportunity fail good comedy barely convincing movie need manner inferior drove dramatic strong suit comedy subject film infamous psychotic loosely sprinkle joke incongruous context morbid tale expect punchline expect gag exposition legend expect strained attempt youthful insouciance laurel past dance sequence needless padding wonder cut room floor actor vacillate parody victorian character actually play Dr actual real movie whilst frequently come exaggerated nobleman film perfect film spoof actor truly nail role parody damn hot funny melodrama world help look rack paper like hilarious coup Dr labor specter reputation funnyman play straight oblivious humor work actively laugh mean director discern forte discern choose play type way errous decision mispronunciation sake schoolyard quote regard genuinely hilarious grow blind comedy boat leave onshore oblivious discernment actually think film noteworthy consider vital comedy movie subtitle apply Dead visit
====================================================================================================
Original Review Details:
MR. HOLLAND'S OPUS **** Director Stephen Herek and script-writer Patrick Sheane Duncan create a motion picture that is original, insightful, and thoroughly entertaining with 'Mr. Holland's Opus'. We follow the story of a young piano composer (Richard Dreyfuss), whose love for music leads him to become a music teacher. He inspires a love of music and artistic freedom in his students in the different seasons of his career while he deals with hardships at home. The story's memorable ending excellently closes this wonderfully engendered film. Alicia Witt, Terrence Howard, and Jean Louisa Kelly are the three particular students Dreyfuss connects with throughout his career, and Glenne Headly plays his wife. A winner.

Lemmatized Review Details:
MR S OPUS Director create motion picture original insightful thoroughly entertain Mr Opus follow story young piano composer love music lead music teacher inspire love music artistic freedom student different season career deal hardship home story memorable ending excellently close wonderfully engender film particular student connect career play wife winner
====================================================================================================
Original Review Details:
I only hired this movie because Johnny Depp and the great Christopher Walken are in this movie and i thought the movie would be a bit crap but it turned out to be really good.The movies about a man (Depp) who just got off a train with his daughter and a man (Walken) and a woman (Roma Maffia) kidnap his daughter and give him a gun and tell him he has to kill the Governor (Marsha Mason)with in an hour and a half or his daughter will be killed.This film also stars Charles S. Dutton from the films Gothika,A Time To Kill,Mimic and Black Dog and nick of time is by far one of his best movies.Over all this movie is good and it keep me entertained from start to finish and my rating is 6 out of 10.

Lemmatized Review Details:
I hire movie Depp great movie think movie bit crap turn good movie man Depp train daughter man woman kidnap daughter gun tell kill Governor Mason daughter kill film star film time kill Mimic Black Dog nick time far good movie movie good entertain start finish rating
====================================================================================================
Original Review Details:
The polar icecaps have melted, all land has been lost below the rising waves and man has had to adapt to a new world where the survivors live wholly on the sea. Mankind now exists within several key groups: slavers, smokers, small communities and lone sailors who trade their way as they go. One such trader is the Mariner, a tough, lone man who mistrusts everyone  a mistrust that is proved correct when a community spots he is also a mutant and sentences him to death. Before it can be carried out though, the Smokers attack and the Mariner is able to escape thanks to a woman and a little girl. However the little girl also happens to "be" the only existing map to dry land and the Mariner finds himself pursued by the Smokers.Everyone knows that the critics had buried this one before it even reached a single screen. It is rare for critics to see horrible movies  few of these make it to the cinema  so whenever they get the chance to write a scathing review, they tend to take it and run with it. However as the critics moved onto the bandwagons of other years, Waterworld has been left to stand for itself and be judged on its own merits. When you look at it as it actually is, the film just sits as an OK blockbuster, nothing more but certainly nothing less either. The plot is a cross between Mad Max on water and the standard "tough guy coming to love little kid" things that provides a plot driver and supposedly an emotional way in. In creating a good story, it doesn't really manage it because it is too full of holes and lacks a real sense of engaging motion and characters but then, isn't that something you could say of many blockbusters.The creation of its own future is pretty well done and it all looks good even if it does lack any sense of logic. Again, I don't understand why it got such a kicking because to my eye it looked pretty good considering the challenges of shooting on water. Too many lazy reviewers (professional and amateur alike) have jumped on the "all at sea" line when talking about the performances and, although few are that great, lazy joking is rather a critique. Costner goes for a dark hero but misses a bit and ends up just being a bit unrelatable until his predictable sea change (sorry) at the end. He is still OK but didn't help me get into the characters. Tripplehorn is basic and her character could have easily been played by anyone. Majorino is annoying of course but then she is a typical cute kid role and nothing more. Hopper at least has fun and he does add a bit of enjoyment to the film where the others are forced to treat the material a bit more seriously; the film's high points generally come when he is on screen. The rest of the cast fill the space but don't do a great deal else but then, like many blockbusters, this is not an actor's film.Overall then, critically mauled and great fun for critics of the time but in essence it is just another in a long line of average blockbuster movies. The cast aren't great, the story is so-so, the action is enjoyable and the design of it looks good (albeit a bit too much indebted to Mad Max). Nothing special about it and mostly memorable for the kicking it unjustly received but if you are looking for an apocalyptic summer blockbuster then there is no reason why this shouldn't do the job.

Lemmatized Review Details:
polar icecap melt land lose rise wave man adapt new world survivor live wholly sea Mankind exist key group slaver smoker small community lone sailors trade way trader tough lone man mistrust mistrust prove correct community spot mutant sentence death carry attack able escape thank woman little girl little girl happen exist map dry land find pursue know critic bury reach single screen rare critic horrible movie cinema chance write scathing review tend run critic bandwagon year leave stand judge merit look actually film sit ok blockbuster certainly plot cross tough guy come love little kid thing provide plot driver supposedly emotional way create good story manage hole lack real sense engage motion character blockbuster creation future pretty look good lack sense logic I understand kick eye look pretty good consider challenge shoot water lazy reviewer professional amateur alike jump sea line talking performance great lazy joking critique Costner dark hero miss bit end bit unrelatable predictable sea change sorry end ok help character tripplehorn basic character easily play annoying course typical cute kid role Hopper fun add bit enjoyment film force treat material bit seriously film high point generally come screen rest cast fill space great deal like blockbuster actor film Overall critically maul great fun critic time essence long line average blockbuster movie cast great story action enjoyable design look good albeit bit indebted special memorable kicking unjustly receive look apocalyptic blockbuster reason job
====================================================================================================
Original Review Details:
The movie is about a quick-draw contest in a small western town run by a gunslinger named John Herod(Gene Hackman). The Lady(Sharon Stone), The Kid(Leonardo DiCaprio), and a retired gunslinger by the name of Cort(Russel Crowe) are all contestants against each other, greedy idiots, and John Herod who has surprisingly signed himself up for the tournament.The movie is very entertaining and fast paced. The acting is above-average, the writing is decent, but the idea of this quick-contest in a small town was just a great idea. Its very fresh and original. I enjoyed the movie although it wasn't done amazingly well. Overall, its an exciting movie and is just a fun movie.I recommend this movie.

Lemmatized Review Details:
movie contest small western town run gunslinger Lady Sharon Stone Kid Leonardo DiCaprio retire gunslinger Cort Russel contestant greedy idiot surprisingly sign tournament movie entertain fast pace acting write decent idea small town great idea fresh original I enjoy movie amazingly overall exciting movie fun movie I recommend movie
====================================================================================================

In [ ]:
movie_reviews_df.to_csv("lemma.csv")

## Model Creation

## Model Evaluation

## References
- https://medium.com/analytics-vidhya/text-preprocessing-nlp-basics-430d54016048
- https://towardsdatascience.com/how-to-preprocess-social-media-data-and-text-messages-b011efacf74
- https://towardsdatascience.com/5-lesser-known-python-libraries-for-your-next-nlp-project-ff13fc652553
- https://medium.com/coinmonks/remaking-of-shortened-sms-tweet-post-slangs-and-word-contraction-into-sentences-nlp-7bd1bbc6fcff
- https://sunscrapers.com/blog/9-best-python-natural-language-processing-nlp/
- https://towardsdatascience.com/stemming-vs-lemmatization-2daddabcb221
- https://www.machinelearningplus.com/nlp/lemmatization-examples-python/#google_vignette
- https://atilaycemsamiloglu.medium.com/what-is-lemmatization-2d7a87f42c55
- https://support.prodi.gy/t/how-to-tell-spacy-not-to-split-any-intra-hyphen-words/1456
- https://towardsdatascience.com/elegant-text-pre-processing-with-nltk-in-sklearn-pipeline-d6fe18b91eb8
- https://python.plainenglish.io/optimize-your-spacy-ner-results-with-this-simple-change-e59937c411ab