# __Movie Sentiment Analysis__

In [1]:
import pandas as pd
import numpy as np
import re
import contractions
import nltk
import contractions
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import text_preprocessing as tp
import utils
import spacy

from nltk.corpus import stopwords
from nltk.corpus import words
from nltk.stem import WordNetLemmatizer
from flashtext import KeywordProcessor


warnings.filterwarnings("ignore")

## Importing Dataset for Movie Metadata

Use the IMDB dataset containing information about movies. Two different data sources will be utilized in the process of traning the model.

__a. Data Source:__ https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset/

In [2]:
# Open file containing movie metadata
movies_metadata_df = pd.read_csv("./dataset/movies_metadata.csv")
movies_metadata_df.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
# Open file containing the movie credits, i.e. casts and crews
movies_credits_df = pd.read_csv("./dataset/credits.csv")
movies_credits_df.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
# Combine the dataframes of movie metadata and credits
movies_metadata_df = pd.merge(movies_metadata_df, movies_credits_df, on=["id"], how="left")
movies_metadata_df.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [5]:
# List all the columns in movie metadata's dataframe
movies_metadata_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew'],
      dtype='object')

In [6]:
# Drop columns that are not relevant
del_columns = ['belongs_to_collection', 'homepage', 'id', 'original_language', 'original_title', 'popularity', 'poster_path', 
               'overview', 'tagline', 'production_countries', 'runtime', 'spoken_languages', 'status', 'video', 'vote_average', 'vote_count']
movies_metadata_df = movies_metadata_df.drop(del_columns, axis=1)

# Remove 'tt' appended on the IMDB ID
movies_metadata_df['imdb_id'] = movies_metadata_df['imdb_id'].apply(lambda x : x[2:] if isinstance(x, str) and "tt" in x else x)

movies_metadata_df.head(5)

,adult,budget,genres,imdb_id,production_companies,release_date,revenue,title,cast,crew
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",0114709,"[{'name': 'Pixar Animation Studios', 'id': 3}]",10/30/1995,373554033.0,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",0113497,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",12/15/1995,262797249.0,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0113228,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",12/22/1995,0.0,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",0114885,[{'name': 'Twentieth Century Fox Film Corporat...,12/22/1995,81452156.0,Waiting to Exhale,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",0113041,"[{'name': 'Sandollar Productions', 'id': 5842}...",2/10/1995,76578911.0,Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

__b. Data Source:__ https://www.kaggle.com/datasets/raynardj/imdb-vision-and-nlp/data

In [7]:
# Open another file containing the movie metadata
movies_df = pd.read_csv("./dataset/movies.csv")
movies_df.head(5)

,imdbId,Imdb Link,Title,IMDB Score,Genre,local_image_path
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation;Adventure;Comedy,images/114709_.jpg
1,113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action;Adventure;Family,images/113497_.jpg
2,113277,http://www.imdb.com/title/tt113277,Heat (1995),8.2,Action;Crime;Drama,images/113277_.jpg
3,114319,http://www.imdb.com/title/tt114319,Sabrina (1995),6.3,Comedy;Drama,images/114319_.jpg
4,114576,http://www.imdb.com/title/tt114576,Sudden Death (1995),5.7,Action;Crime;Thriller,images/114576_.jpg

In [8]:
# Rename the column names of movies info by removing the spaces and converting to lower case
movies_df = movies_df.rename(columns={"imdbId" : "imdb_id", "Imdb Link" : "imbd_link", "Title" : "movie", "IMDB Score" : "imdb_score", "Genre" : "genre"})
print(movies_df.columns)

Index(['imdb_id', 'imbd_link', 'movie', 'imdb_score', 'genre',
       'local_image_path'],
      dtype='object')

In [9]:
# Drop columns that are not relevant
del_columns = ['imbd_link', 'imdb_score', 'local_image_path']

movies_df = movies_df.drop(columns=del_columns, axis=1)
movies_df.head(5)

   imdb_id                movie                       genre
0   114709     Toy Story (1995)  Animation;Adventure;Comedy
1   113497       Jumanji (1995)     Action;Adventure;Family
2   113277          Heat (1995)          Action;Crime;Drama
3   114319       Sabrina (1995)                Comedy;Drama
4   114576  Sudden Death (1995)       Action;Crime;Thriller

In [10]:
# Merge two different datasets for movies metadata

movies_metadata_df['imdb_id'] = movies_metadata_df['imdb_id'].fillna(0) # fixed errors on NaN values when converting to int data type
movies_metadata_df['imdb_id'] = movies_metadata_df['imdb_id'].astype(int)

movies_metadata_df = pd.merge(movies_metadata_df, movies_df, on=["imdb_id"], how="right")
movies_metadata_df.head(5)

,adult,budget,genres,imdb_id,production_companies,release_date,revenue,title,cast,crew,movie,genre
0,False,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",114709,"[{'name': 'Pixar Animation Studios', 'id': 3}]",10/30/1995,373554033.0,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Toy Story (1995),Animation;Adventure;Comedy
1,False,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",113497,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",12/15/1995,262797249.0,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Jumanji (1995),Action;Adventure;Family
2,False,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",113277,"[{'name': 'Regency Enterprises', 'id': 508}, {...",12/15/1995,187436818.0,Heat,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",Heat (1995),Action;Crime;Drama
3,False,58000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",114319,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",12/15/1995,0.0,Sabrina,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",Sabrina (1995),Comedy;Drama
4,False,35000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",114576,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",12/22/1995,64350171.0,Sudden Death,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",Sudden Death (1995),Action;Crime;Thriller

## Importing Dataset for Movie Reviews

Use the IMDB dataset for movie reviews.

__Data Source:__ https://www.kaggle.com/datasets/raynardj/imdb-vision-and-nlp/data

In [11]:
# Open the file containing the movie reviews
reviews_df = pd.read_csv("./dataset/reviews.csv")
reviews_df.head(5)

,review_id,reviewer,movie,rating,review_summary,review_date,spoiler_tag,review_detail,helpful
0,rw1133942,OriginalMovieBuff21,Kill Bill: Vol. 2 (2004),8.0,Good follow up that answers all the questions,24 July 2005,0,"After seeing Tarantino's Kill Bill Vol: 1, I g...","['0', '1']"
1,rw1133959,lost-in-limbo,Feardotcom (2002),3.0,"""I couldn't make much sense of it myself"". Too...",24 July 2005,0,There's a Website called FearDotCom and anyone...,"['1', '4']"
2,rw1133985,NateManD,Persona (1966),10.0,Persona gives me all the reasons to love art-h...,24 July 2005,0,"Long before ""Muholland Drive"" there was anothe...","['9', '23']"
3,rw1133999,CAMACHO-4,War of the Worlds (2005),3.0,A disappointing film from the team that you Mi...,24 July 2005,0,Spielberg said this film is based on the H.G. ...,"['9', '14']"
4,rw1134010,CAMACHO-4,Mr. & Mrs. Smith (2005),6.0,A fun action movie with great chemistry,24 July 2005,0,"Director Doug Liman, who's gotten famous for m...","['1', '3']"

In [12]:
# Merge the movie metadata (from the same kaggle source) and reviews
movie_reviews_df = pd.merge(movies_df, reviews_df, on=["movie"], how="inner")
movie_reviews_df.head(5)

,imdb_id,movie,genre,review_id,reviewer,rating,review_summary,review_date,spoiler_tag,review_detail,helpful
0,114709,Toy Story (1995),Animation;Adventure;Comedy,rw1166979,dee.reid,10.0,"""Toy Story"" - The Toys are in town and somethi...",6 September 2005,0,"I'm 19, going on 20 in six days. I don't need ...","['5', '5']"
1,114709,Toy Story (1995),Animation;Adventure;Comedy,rw1184497,emasterslake,NaN,Pixar's first full length movie.,1 October 2005,0,This was the first Pixar movie I've seen. I re...,"['0', '0']"
2,114709,Toy Story (1995),Animation;Adventure;Comedy,rw1202306,patrick_dunne,10.0,Classic Pixar! This is what future Pixar films...,26 October 2005,0,Remember the original Pixar movies? Remember w...,"['0', '0']"
3,114709,Toy Story (1995),Animation;Adventure;Comedy,rw1213162,Lady_Targaryen,8.0,One of the first animations from Pixar,10 November 2005,0,"When Toy Story came, in 1995,I was 9 years old...","['27', '43']"
4,114709,Toy Story (1995),Animation;Adventure;Comedy,rw1223346,KUAlum26,10.0,Can it be ten years already?,23 November 2005,0,PIXAR animation was but an experimental animat...,"['1', '1']"

In [13]:
# Drop columns that are not relevant, including the movie and genre. IMDB ID can be used to associate 
# review records with movie metadata
del_columns = ['movie', 'genre', 'review_id', 'reviewer', 'spoiler_tag', 'helpful', 'rating']

movie_reviews_df = movie_reviews_df.drop(columns=del_columns, axis=1)
movie_reviews_df.head(5)

,imdb_id,review_summary,review_date,review_detail
0,114709,"""Toy Story"" - The Toys are in town and somethi...",6 September 2005,"I'm 19, going on 20 in six days. I don't need ..."
1,114709,Pixar's first full length movie.,1 October 2005,This was the first Pixar movie I've seen. I re...
2,114709,Classic Pixar! This is what future Pixar films...,26 October 2005,Remember the original Pixar movies? Remember w...
3,114709,One of the first animations from Pixar,10 November 2005,"When Toy Story came, in 1995,I was 9 years old..."
4,114709,Can it be ten years already?,23 November 2005,PIXAR animation was but an experimental animat...

## Exploratory Data Analysis

Check and resolve duplicate records

In [14]:
# Drop duplicate records in movies metadata
print(f"Record count before removing duplicates => {movies_metadata_df.shape[0]}")
movies_metadata_df.drop_duplicates(inplace=True)
print(f"Record count after removing duplicates  => {movies_metadata_df.shape[0]}")

Record count before removing duplicates => 4174
Record count after removing duplicates  => 4071

In [15]:
# Drop duplicate records in movies reviews
print(f"Record count before removing duplicates => {movie_reviews_df.shape[0]}")
movie_reviews_df.drop_duplicates(inplace=True)
print(f"Record count after removing duplicates  => {movie_reviews_df.shape[0]}")

Record count before removing duplicates => 557581
Record count after removing duplicates  => 542633

Check and resolve missing values for `movie metadata`

In [16]:
# Check for missing values in movies metadata
movies_metadata_df.isna().sum()

adult                   3
budget                  3
genres                  3
imdb_id                 0
production_companies    3
release_date            3
revenue                 3
title                   3
cast                    3
crew                    3
movie                   0
genre                   0
dtype: int64

In [17]:
# List of movies with missing information
movies_metadata_df[movies_metadata_df['title'].isna()]

,adult,budget,genres,imdb_id,production_companies,release_date,revenue,title,cast,crew,movie,genre
2780,NaN,NaN,NaN,462322,NaN,NaN,NaN,NaN,NaN,NaN,Grindhouse (2007),Action;Horror;Thriller
3521,NaN,NaN,NaN,448694,NaN,NaN,NaN,NaN,NaN,NaN,Puss in Boots (2011),Animation;Action;Adventure
3793,NaN,NaN,NaN,1937390,NaN,NaN,NaN,NaN,NaN,NaN,Nymphomaniac: Vol. I (2013),Drama

In [18]:
# Drop all movies with missing information
movies_metadata_df.dropna(inplace=True, axis=0)
movies_metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4068 entries, 0 to 4173
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 4068 non-null   object
 1   budget                4068 non-null   float64
 2   genres                4068 non-null   object
 3   imdb_id               4068 non-null   int64
 4   production_companies  4068 non-null   object
 5   release_date          4068 non-null   object
 6   revenue               4068 non-null   float64
 7   title                 4068 non-null   object
 8   cast                  4068 non-null   object
 9   crew                  4068 non-null   object
 10  movie                 4068 non-null   object
 11  genre                 4068 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 413.2+ KB

Check and resolve missing values for `movie reviews`

In [19]:
# Check for missing values in movies reviews
movie_reviews_df.isna().sum()

imdb_id           0
review_summary    1
review_date       0
review_detail     1
dtype: int64

In [20]:
# Replace all missing values in review summary and detail with a blank
movie_reviews_df[['review_summary', 'review_detail']] = movie_reviews_df[['review_summary', 'review_detail']].fillna('')
movie_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 542633 entries, 0 to 557580
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   imdb_id         542633 non-null  int64
 1   review_summary  542633 non-null  object
 2   review_date     542633 non-null  object
 3   review_detail   542633 non-null  object
dtypes: int64(1), object(3)
memory usage: 20.7+ MB

##### Data Wrangling:

Conduct data wrangling on `movie metadata` to transform and structure data into a desired format

In [21]:
# Separate movie release year from the title
pattern_year = r'\((\d{4})\)$'
movies_metadata_df['release_year'] = movies_metadata_df['movie'].str.extract(pattern_year).astype(int)
movies_metadata_df['movie'] = movies_metadata_df['movie'].str.replace(pattern_year, '', regex=True).str.strip()
movies_metadata_df[['movie', 'release_year']].head(5)

# Drop columns containing duplicate movie information
dup_columns = ['genres', 'release_date', 'title']
movies_metadata_df = movies_metadata_df.drop(columns=dup_columns, axis=1)

# Rearrange the order of columns
desired_order = ['imdb_id', 'movie', 'release_year', 'genre', 'adult', 'budget', 'revenue', 'production_companies', 'cast', 'crew']
movies_metadata_df = movies_metadata_df[desired_order]

movies_metadata_df.head(5)

,imdb_id,movie,release_year,genre,adult,budget,revenue,production_companies,cast,crew
0,114709,Toy Story,1995,Animation;Adventure;Comedy,False,30000000.0,373554033.0,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,113497,Jumanji,1995,Action;Adventure;Family,False,65000000.0,262797249.0,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,113277,Heat,1995,Action;Crime;Drama,False,60000000.0,187436818.0,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
3,114319,Sabrina,1995,Comedy;Drama,False,58000000.0,0.0,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."
4,114576,Sudden Death,1995,Action;Crime;Thriller,False,35000000.0,64350171.0,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de..."

In [22]:
# Convert genre into list data type
movies_metadata_df['genre'] = movies_metadata_df['genre'].apply(lambda x : x.split(";"))

# Convert to a list of production companies
movies_metadata_df['production_companies'] = movies_metadata_df['production_companies'].apply(lambda x : utils.convert_str_to_dict(x, ['name']))
movies_metadata_df['production_companies'] = movies_metadata_df['production_companies'].apply(lambda list_of_dicts : [value for d in list_of_dicts for value in d.values()])

# TODO: Need to fix the issue on cast and crew with names containing single quotation
# movies_metadata_df['cast'] = movies_metadata_df['cast'].apply(lambda x : utils.convert_str_to_dict(x, ['character', 'name']))

movies_metadata_df[['genre', 'production_companies', 'cast', 'crew']].head(5)

,genre,production_companies,cast,crew
0,"[Animation, Adventure, Comedy]",[Pixar Animation Studios],"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[Action, Adventure, Family]","[TriStar Pictures, Teitler Film, Interscope Co...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[Action, Crime, Drama]","[Regency Enterprises, Forward Pass, Warner Bros.]","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
3,"[Comedy, Drama]","[Paramount Pictures, Scott Rudin Productions, ...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."
4,"[Action, Crime, Thriller]","[Universal Pictures, Imperial Entertainment, S...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de..."

Conduct data wrangling on `movie review` to transform and structure data into a desired format

In [23]:
# Get only the year the review was created
movie_reviews_df['review_year'] = pd.to_datetime(movie_reviews_df['review_date']).dt.year
movie_reviews_df = movie_reviews_df.drop(columns=['review_date'], axis=1)

movie_reviews_df.head(5)

##### For Text Pre-processing:

__The movie summary and reviews undergo the following steps during the initial data pre-processing stage__
- Remove non-grammatical text like emails and URLs
- Replace non-ascii characters (some Python libraries are only limited to ascii characters like KeywordProcessor)
- Replace emojis with English word/s
- Handle contractions
- Handle slang words

In [ ]:
emoji_dict = tp.get_emojis()
slang_word_dict = tp.webscrape_slang_words()

def initial_text_preprocessing(text):
    try:
        # Remove non-grammatical text
        text = tp.remove_email_address(text)
        text = tp.remove_hyperlink(text)

        # Replace non-ascii characters as there are Python libraries limiting this feature
        text = tp.replace_nonascii_characters(text)

        # Replace emojis with English word/s
        text = emoji_dict.replace_keywords(text)

        # Handle contractions
        text = contractions.fix(text)

        # Replace slang words
        text = slang_word_dict.replace_keywords(text)

    except Exception as err:
        print(f"ERROR: {err}")
        print(f"Input Text: {text}")

    return text


movie_reviews_df[['cleaned_review_summary', 'cleaned_review_detail']] = movie_reviews_df[['review_summary', 'review_detail']].applymap(initial_text_preprocessing)
movie_reviews_df[['cleaned_review_summary', 'cleaned_review_detail']].head(5)

,cleaned_review_summary,cleaned_review_detail
0,Frightfully Fangless,"When a ""serious"" movie is pitifully appalling,..."
1,"Original, Insightful, And Thoroughly Entertaining",MR. HOLLAND'S OPUS **** Director Stephen Herek...
2,really good movie,I only hired this movie because Johnny Depp an...
3,"Despite the undeserved kicking, this is still ...","The polar icecaps have melted, all land has be..."
4,Modern Western with good idea,The movie is about a quick-draw contest in a s...

__Apply regular expressions to remove punctuation and spaces, and convert characters to lowercase.__

In [ ]:
# Function to clean text by removing non-alphanumeric, converting to lowercase, and stripping whitespaces
def clean_text(text):
    # Convert text to lowercase
    text = text.lower()
    # Remove non-alphanumeric characters except for the following
    # > hyphen (-) that is in between alphanumeric
    text = tp.remove_non_alphanumeric_char(text)
    # Remove leading and trailing whitespaces
    text = text.strip()
    # Replace multiple whitespaces with a single space
    text = tp.replace_whitespace(text)

    return text

# Apply text cleaning to 'review_summary' and 'review_detail' columns
movie_reviews_df[['cleaned_review_summary', 'cleaned_review_detail']] = movie_reviews_df[['cleaned_review_summary', 'cleaned_review_detail']].applymap(clean_text)

# Display the comparison between the top 5 original review summaries and their cleaned versions
for i in range(5):
    print("Original Review Summary:")
    print(movie_reviews_df['review_summary'][i])
    print("\nCleaned Review Summary (Non-alphanumeric charactes Removed, Lowercased, Extra Whitespaces Removed):")
    print(movie_reviews_df['cleaned_review_summary'][i])
    print("="*100)

# Display the comparison between the top 5 original review details and their cleaned versions
for i in range(5):
    print("Original Review Details:")
    print(movie_reviews_df['review_detail'][i])
    print("\nCleaned Review Details (Non-alphanumeric charactes Removed, Lowercased, Extra Whitespaces Removed):")
    print(movie_reviews_df['cleaned_review_detail'][i])
    print("="*100)

Original Review Summary:
Frightfully Fangless

Cleaned Review Summary (Non-alphanumeric charactes Removed, Lowercased, Extra Whitespaces Removed):
frightfully fangless
====================================================================================================
Original Review Summary:
Original, Insightful, And Thoroughly Entertaining

Cleaned Review Summary (Non-alphanumeric charactes Removed, Lowercased, Extra Whitespaces Removed):
original insightful and thoroughly entertaining
====================================================================================================
Original Review Summary:
really good movie

Cleaned Review Summary (Non-alphanumeric charactes Removed, Lowercased, Extra Whitespaces Removed):
really good movie
====================================================================================================
Original Review Summary:
Despite the undeserved kicking, this is still an enjoyable summer blockbuster, nothing more but certainly nothing less

Cleaned Review Summary (Non-alphanumeric charactes Removed, Lowercased, Extra Whitespaces Removed):
despite the undeserved kicking this is still an enjoyable summer blockbuster nothing more but certainly nothing less
====================================================================================================
Original Review Summary:
Modern Western with good idea

Cleaned Review Summary (Non-alphanumeric charactes Removed, Lowercased, Extra Whitespaces Removed):
modern western with good idea
====================================================================================================
Original Review Details:
When a "serious" movie is pitifully appalling, it is easy to write a comedic review. When a comedic movie falls into the same category, it is almost impossible to make sport of it Â– because any frivolity in the review may be misconstrued as comedic quality that the MOVIE possesses. So let me clarify from the outset: This "comedy" is not to be laughed at.Who would have thought that Mel Brooks Â– the genius writer/director behind Blazing Saddles, History Of The World and Young Frankenstein (a successful comedy movie wholly in the vein of this failed one Â– pun intended) Â– would be prone to helming a comedy as pitifully appalling as "Dracula: Dead And Loving It"? One imagines that Brooks' comic radar is so finely-attuned that he would have seen through the financial and corporate layers of this film's drudgery and simply either abandoned it and cut his losses when he saw that it was not working, or salvaged the potential high points and let the cutting room floor eat the rest.He did neither, which reveals that something is terribly askew in the Brooks universe. No longer is it "good to be the king" - Mel Brooks is merely an old man these days, his tastes no longer running congruent with his audience's; his comedy no longer as energetic or as biting as the wit of his youth (which, relatively speaking, was his late-40s anyway).The Brooks gag formulas are definitely still there, but seem lazily inserted as dependable fallback material, rather than inspired stylistic substance. Jokes which I can imagine my 15-year-old self repeating ad nauseam in the schoolyard, now fall flat and wearisome on inured sensibilities.Not only does the film suffer from rehashed and lazy gags, Brooks' direction lacks coherence and is oft-times merely cursory; there are wide shots, reverses and close-ups which serve no purpose, camera blandly flitting from one unnecessary shot to the next, not merely misdirecting our eye, but searching for subject matter to fill the frame judiciously. Many shots seem to be second-unit throwaway footage. Instead of easing back and letting the film's levity wash over me, as should have been the case, all these logistical details kept bugging my senses, detracting from the already-sparse humor.During the cast-and-crew screening for this film, one has to wonder whether there were any genuine laughs or whether the aura of the director's past glories tainted the crew into believing that they had a good comedy on their hands, thereby eliciting perfunctory giggles out of respect for their elders.In this film's adherence to the original Dracula story and noticeable neglect of comedic opportunities, not only did it fail as a good comedy, it becomes barely convincing as an A-List movie. Brooks did not need to re-make "Dracula". Yet this seems to be all he did Â– in a manner inferior to that of droves of dramatic film-makers before him. Mel's strong suit is COMEDY. So why were we subjected to a film about the infamous psychotic blood-drinker, so loosely sprinkled with jokes that they seem incongruous within the context of the morbid tale? Where you would expect punchlines, there are scene-fades; where you would expect a gag, there is exposition of the Dracula legend; where you would expect laugh-out-loud-slapstick, there are strained attempts at re-capturing youthful insouciance from laurels past. And the dance sequence between Dracula and Mina was needless padding. (Makes you wonder what DID make the cutting room floor.) The actors vacillate between parodying Victorian characters and actually *playing* them. Harvey Korman's Dr. Seward can almost be an actual over-actor from one of the REAL Dracula movies, whilst Steven Weber's Jonathan Harker frequently comes across as an exaggerated English nobleman from a Christopher Lee film. Peter MacNichol, though, makes the perfect Renfield Â– for ANY Dracula film, serious or spoof - and is the only actor who truly nails his role in this blunt-toothed parody. Amy Yasbeck and Lysette Anthony are just too damn hot to be funny: all the self-deprecating melodrama in the world is not gonna help, chickie-babes - LOOK AT THOSE RACKS! On paper, Leslie Neilsen's Dracula seemed like a hilarious coup, as did Mel Brooks' Dr. van Helsing, but both seemed to be laboring under the specter of their own reputations as funnymen. Neilsen playing STRAIGHT and being oblivious to his own humor is how he works best, but here he actively went for laughs, which means that even Brooks, as director, did not discern Neilsen's forte - or *did* discern it and chose to make Neilsen play against type anyway Â– either way, an erroneous decision. And Brooks' van Helsing seemed too self-aware of every mispronunciation he made - for the sake of schoolyard quotes - to be regarded as genuinely hilarious.If Mel Brooks has grown so blind that he cannot see that the comedy boat has left him onshore; if he has become so oblivious to discernment that he actually thinks this film is noteworthy enough to be considered a vital "comedy", the movie's subtitle may well be applied to HIM Â– "Dead Â– And Loving It".(Movie Maniacs, visit: www.thedunmore.com/POFFY-MovieReviews.html)

Cleaned Review Details (Non-alphanumeric charactes Removed, Lowercased, Extra Whitespaces Removed):
when a serious movie is pitifully appalling it is easy to write a comedic review when a comedic movie falls into the same category it is almost impossible to make sport of it Â– because any frivolity in the review may be misconstrued as comedic quality that the movie possesses so let me clarify from the outset this comedy is not to be laughed at who would have thought that mel brooks Â– the genius writer/director behind blazing saddles history of the world and young frankenstein a successful comedy movie wholly in the vein of this failed one Â– pun intended Â– would be prone to helming a comedy as pitifully appalling as dracula dead and loving it one imagines that brooks comic radar is so finely-attuned that he would have seen through the financial and corporate layers of this film s drudgery and simply either abandoned it and cut his losses when he saw that it was not working or salvaged the potential high points and let the cutting room floor eat the rest he did neither which reveals that something is terribly askew in the brooks universe no longer is it good to be the king mel brooks is merely an old man these days his tastes no longer running congruent with his audience s his comedy no longer as energetic or as biting as the with of his youth which relatively speaking was his late-40s anyway the brooks gag formulas are definitely still there but seem lazily inserted as dependable fallback material rather than inspired stylistic substance jokes which i can imagine my 15-year-old self repeating ad nauseam in the schoolyard now fall flat and wearisome on inured sensibilities not only does the film suffer from rehashed and lazy gags brooks direction lacks coherence and is oft-times merely cursory there are wide shots reverses and close-ups which serve no purpose camera blandly flitting from one unnecessary shot to the next not merely misdirecting our eye but searching for subject matter to fill the frame judiciously many shots seem to be second-unit throwaway footage instead of easing back and letting the film s levity wash over me as should have been the case all these logistical details kept bugging my senses detracting from the already-sparse humor during the cast-and-crew screening for this film one has to wonder whether there were any genuine laughs or whether the aura of the director s past glories tainted the crew into believing that they had a good comedy on their hands thereby eliciting perfunctory giggles out of respect for their elders in this film s adherence to the original dracula story and noticeable neglect of comedic opportunities not only did it fail as a good comedy it becomes barely convincing as an a-list movie brooks did not need to reply-make dracula yet this seems to be all he did Â– in a manner inferior to that of droves of dramatic film-makers before him mel s strong suit is comedy so why were we subjected to a film about the infamous psychotic blood-drinker so loosely sprinkled with jokes that they seem incongruous within the context of the morbid tale where you would expect punchlines there are scene-fades where you would expect a gag there is exposition of the dracula legend where you would expect laugh-out-loud-slapstick there are strained attempts at reply-capturing youthful insouciance from laurels past and the dance sequence between dracula and mina was needless padding makes you wonder what did make the cutting room floor the actors vacillate between parodying victorian characters and actually playing them harvey korman s dr seward can almost be an actual over-actor from one of the real dracula movies whilst steven weber s jonathan harker frequently comes across as an exaggerated english nobleman from a christopher lee film peter macnichol though makes the perfect renfield Â– for any dracula film serious or spoof and is the only actor who truly nails his role in this blunt-toothed parody amy yasbeck and lysette anthony are just too damn hot to be funny all the self-deprecating melodrama in the world is not going to help chickie-babes look at those racks on paper leslie neilsen s dracula seemed like a hilarious coup as did mel brooks dr van helsing but both seemed to be laboring under the specter of their own reputations as funnymen neilsen playing straight and being oblivious to his own humor is how he works best but here he actively went for laughs which means that even brooks as director did not discern neilsen s forte or did discern it and chose to make neilsen play against type anyway Â– either way an erroneous decision and brooks van helsing seemed too self-aware of every mispronunciation he made for the sake of schoolyard quotes to be regarded as genuinely hilarious if mel brooks has grown so blind that he cannot see that the comedy boat has left him onshore if he has become so oblivious to discernment that he actually thinks this film is noteworthy enough to be considered a vital comedy the movie s subtitle may well be applied to him Â– dead Â– and loving it movie maniacs visit world wide web thedunmore com/poffy-moviereviews html
====================================================================================================
Original Review Details:
MR. HOLLAND'S OPUS **** Director Stephen Herek and script-writer Patrick Sheane Duncan create a motion picture that is original, insightful, and thoroughly entertaining with 'Mr. Holland's Opus'. We follow the story of a young piano composer (Richard Dreyfuss), whose love for music leads him to become a music teacher. He inspires a love of music and artistic freedom in his students in the different seasons of his career while he deals with hardships at home. The story's memorable ending excellently closes this wonderfully engendered film. Alicia Witt, Terrence Howard, and Jean Louisa Kelly are the three particular students Dreyfuss connects with throughout his career, and Glenne Headly plays his wife. A winner.

Cleaned Review Details (Non-alphanumeric charactes Removed, Lowercased, Extra Whitespaces Removed):
mr holland s opus director stephen herek and script-writer patrick sheane duncan create a motion picture that is original insightful and thoroughly entertaining with mr holland s opus we follow the story of a young piano composer richard dreyfuss whose love for music leads him to become a music teacher he inspires a love of music and artistic freedom in his students in the different seasons of his career while he deals with hardships at home the story s memorable ending excellently closes this wonderfully engendered film alicia witt terrence howard and jean louisa kelly are the three particular students dreyfuss connects with throughout his career and glenne headly plays his wife a winner
====================================================================================================
Original Review Details:
I only hired this movie because Johnny Depp and the great Christopher Walken are in this movie and i thought the movie would be a bit crap but it turned out to be really good.The movies about a man (Depp) who just got off a train with his daughter and a man (Walken) and a woman (Roma Maffia) kidnap his daughter and give him a gun and tell him he has to kill the Governor (Marsha Mason)with in an hour and a half or his daughter will be killed.This film also stars Charles S. Dutton from the films Gothika,A Time To Kill,Mimic and Black Dog and nick of time is by far one of his best movies.Over all this movie is good and it keep me entertained from start to finish and my rating is 6 out of 10.

Cleaned Review Details (Non-alphanumeric charactes Removed, Lowercased, Extra Whitespaces Removed):
i only hired this movie because johnny depp and the great christopher walken are in this movie and i thought the movie would be a bit crap but it turned out to be really good the movies about a man depp who just got off a train with his daughter and a man walken and a woman roma maffia kidnap his daughter and give him a gun and tell him he has to kill the governor marsha mason with in an hour and a half or his daughter will be killed this film also stars charles s dutton from the films gothika a time to kill mimic and black dog and nick of time is by far one of his best movies over all this movie is good and it keep me entertained from start to finish and my rating is 6 out of 10
====================================================================================================
Original Review Details:
The polar icecaps have melted, all land has been lost below the rising waves and man has had to adapt to a new world where the survivors live wholly on the sea. Mankind now exists within several key groups: slavers, smokers, small communities and lone sailors who trade their way as they go. One such trader is the Mariner, a tough, lone man who mistrusts everyone Â– a mistrust that is proved correct when a community spots he is also a mutant and sentences him to death. Before it can be carried out though, the Smokers attack and the Mariner is able to escape thanks to a woman and a little girl. However the little girl also happens to "be" the only existing map to dry land and the Mariner finds himself pursued by the Smokers.Everyone knows that the critics had buried this one before it even reached a single screen. It is rare for critics to see horrible movies Â– few of these make it to the cinema Â– so whenever they get the chance to write a scathing review, they tend to take it and run with it. However as the critics moved onto the bandwagons of other years, Waterworld has been left to stand for itself and be judged on its own merits. When you look at it as it actually is, the film just sits as an OK blockbuster, nothing more but certainly nothing less either. The plot is a cross between Mad Max on water and the standard "tough guy coming to love little kid" things that provides a plot driver and supposedly an emotional way in. In creating a good story, it doesn't really manage it because it is too full of holes and lacks a real sense of engaging motion and characters but then, isn't that something you could say of many blockbusters.The creation of its own future is pretty well done and it all looks good even if it does lack any sense of logic. Again, I don't understand why it got such a kicking because to my eye it looked pretty good considering the challenges of shooting on water. Too many lazy reviewers (professional and amateur alike) have jumped on the "all at sea" line when talking about the performances and, although few are that great, lazy joking is rather a critique. Costner goes for a dark hero but misses a bit and ends up just being a bit unrelatable until his predictable sea change (sorry) at the end. He is still OK but didn't help me get into the characters. Tripplehorn is basic and her character could have easily been played by anyone. Majorino is annoying of course but then she is a typical cute kid role and nothing more. Hopper at least has fun and he does add a bit of enjoyment to the film where the others are forced to treat the material a bit more seriously; the film's high points generally come when he is on screen. The rest of the cast fill the space but don't do a great deal else but then, like many blockbusters, this is not an actor's film.Overall then, critically mauled and great fun for critics of the time but in essence it is just another in a long line of average blockbuster movies. The cast aren't great, the story is so-so, the action is enjoyable and the design of it looks good (albeit a bit too much indebted to Mad Max). Nothing special about it and mostly memorable for the kicking it unjustly received but if you are looking for an apocalyptic summer blockbuster then there is no reason why this shouldn't do the job.

Cleaned Review Details (Non-alphanumeric charactes Removed, Lowercased, Extra Whitespaces Removed):

__Use spacy to remove the stopwords and apply lemmatization on movie reviews__

In [ ]:
# TODO: Words with hyphen are being tokenized or split

movie_reviews_df['cleaned_review_summary'] = tp.lemmatize_text(movie_reviews_df['cleaned_review_summary'])
movie_reviews_df['cleaned_review_detail'] = tp.lemmatize_text(movie_reviews_df['cleaned_review_detail'])

# Display the comparison between the top 5 original review summaries and their lemmatized versions
for i in range(5):
    print("Original Review Summary:")
    print(movie_reviews_df['review_summary'][i])
    print("\nLemmatized Review Summary:")
    print(movie_reviews_df['cleaned_review_summary'][i])
    print("="*50)

# Display the comparison between the top 5 original review details and their lemmatized versions
for i in range(5):
    print("Original Review Details:")
    print(movie_reviews_df['review_detail'][i])
    print("\nLemmatized Review Details:")
    print(movie_reviews_df['cleaned_review_detail'][i])
    print("="*50)

Original Review Summary:
Frightfully Fangless

Lemmatized Review Summary:
frightfully fangless
==================================================
Original Review Summary:
Original, Insightful, And Thoroughly Entertaining

Lemmatized Review Summary:
original insightful thoroughly entertain
==================================================
Original Review Summary:
really good movie

Lemmatized Review Summary:
good movie
==================================================
Original Review Summary:
Despite the undeserved kicking, this is still an enjoyable summer blockbuster, nothing more but certainly nothing less

Lemmatized Review Summary:
despite undeserved kicking enjoyable summer blockbuster certainly
==================================================
Original Review Summary:
Modern Western with good idea

Lemmatized Review Summary:
modern western good idea
==================================================
Original Review Details:
When a "serious" movie is pitifully appalling, it is easy to write a comedic review. When a comedic movie falls into the same category, it is almost impossible to make sport of it Â– because any frivolity in the review may be misconstrued as comedic quality that the MOVIE possesses. So let me clarify from the outset: This "comedy" is not to be laughed at.Who would have thought that Mel Brooks Â– the genius writer/director behind Blazing Saddles, History Of The World and Young Frankenstein (a successful comedy movie wholly in the vein of this failed one Â– pun intended) Â– would be prone to helming a comedy as pitifully appalling as "Dracula: Dead And Loving It"? One imagines that Brooks' comic radar is so finely-attuned that he would have seen through the financial and corporate layers of this film's drudgery and simply either abandoned it and cut his losses when he saw that it was not working, or salvaged the potential high points and let the cutting room floor eat the rest.He did neither, which reveals that something is terribly askew in the Brooks universe. No longer is it "good to be the king" - Mel Brooks is merely an old man these days, his tastes no longer running congruent with his audience's; his comedy no longer as energetic or as biting as the wit of his youth (which, relatively speaking, was his late-40s anyway).The Brooks gag formulas are definitely still there, but seem lazily inserted as dependable fallback material, rather than inspired stylistic substance. Jokes which I can imagine my 15-year-old self repeating ad nauseam in the schoolyard, now fall flat and wearisome on inured sensibilities.Not only does the film suffer from rehashed and lazy gags, Brooks' direction lacks coherence and is oft-times merely cursory; there are wide shots, reverses and close-ups which serve no purpose, camera blandly flitting from one unnecessary shot to the next, not merely misdirecting our eye, but searching for subject matter to fill the frame judiciously. Many shots seem to be second-unit throwaway footage. Instead of easing back and letting the film's levity wash over me, as should have been the case, all these logistical details kept bugging my senses, detracting from the already-sparse humor.During the cast-and-crew screening for this film, one has to wonder whether there were any genuine laughs or whether the aura of the director's past glories tainted the crew into believing that they had a good comedy on their hands, thereby eliciting perfunctory giggles out of respect for their elders.In this film's adherence to the original Dracula story and noticeable neglect of comedic opportunities, not only did it fail as a good comedy, it becomes barely convincing as an A-List movie. Brooks did not need to re-make "Dracula". Yet this seems to be all he did Â– in a manner inferior to that of droves of dramatic film-makers before him. Mel's strong suit is COMEDY. So why were we subjected to a film about the infamous psychotic blood-drinker, so loosely sprinkled with jokes that they seem incongruous within the context of the morbid tale? Where you would expect punchlines, there are scene-fades; where you would expect a gag, there is exposition of the Dracula legend; where you would expect laugh-out-loud-slapstick, there are strained attempts at re-capturing youthful insouciance from laurels past. And the dance sequence between Dracula and Mina was needless padding. (Makes you wonder what DID make the cutting room floor.) The actors vacillate between parodying Victorian characters and actually *playing* them. Harvey Korman's Dr. Seward can almost be an actual over-actor from one of the REAL Dracula movies, whilst Steven Weber's Jonathan Harker frequently comes across as an exaggerated English nobleman from a Christopher Lee film. Peter MacNichol, though, makes the perfect Renfield Â– for ANY Dracula film, serious or spoof - and is the only actor who truly nails his role in this blunt-toothed parody. Amy Yasbeck and Lysette Anthony are just too damn hot to be funny: all the self-deprecating melodrama in the world is not gonna help, chickie-babes - LOOK AT THOSE RACKS! On paper, Leslie Neilsen's Dracula seemed like a hilarious coup, as did Mel Brooks' Dr. van Helsing, but both seemed to be laboring under the specter of their own reputations as funnymen. Neilsen playing STRAIGHT and being oblivious to his own humor is how he works best, but here he actively went for laughs, which means that even Brooks, as director, did not discern Neilsen's forte - or *did* discern it and chose to make Neilsen play against type anyway Â– either way, an erroneous decision. And Brooks' van Helsing seemed too self-aware of every mispronunciation he made - for the sake of schoolyard quotes - to be regarded as genuinely hilarious.If Mel Brooks has grown so blind that he cannot see that the comedy boat has left him onshore; if he has become so oblivious to discernment that he actually thinks this film is noteworthy enough to be considered a vital "comedy", the movie's subtitle may well be applied to HIM Â– "Dead Â– And Loving It".(Movie Maniacs, visit: www.thedunmore.com/POFFY-MovieReviews.html)

Lemmatized Review Details:
movie pitifully appalling easy write comedic review comedic movie fall category impossible sport frivolity review misconstrue comedic quality movie possess let I clarify outset comedy laugh think mel brooks genius writer director blaze saddle history world young frankenstein successful comedy movie wholly vein fail pun intend prone helm comedy pitifully appalling dracula dead love imago brooks comic radar finely attune financial corporate layer film s drudgery simply abandon cut loss work salvage potential high point let cutting room floor eat rest reveal terribly askew brooks universe long good king mel brooks merely old man day taste long run congruent audience s comedy long energetic biting youth relatively speak brooks gag formula definitely lazily insert dependable fallback material inspire stylistic substance joke I imagine year old self repeat ad nauseam schoolyard fall flat wearisome inure sensibility film suffer rehashed lazy gags brooks direction lack coherence oft time merely cursory wide shot reverse close serve purpose camera blandly flit unnecessary shot merely misdirect eye search subject matter fill frame judiciously shot second unit throwaway footage instead ease let film s levity wash I case logistical detail bug sense detract sparse humor cast crew screening film wonder genuine laugh aura director s past glory taint crew believe good comedy hand elicit perfunctory giggle respect elder film s adherence original dracula story noticeable neglect comedic opportunity fail good comedy barely convincing list movie brook need reply dracula manner inferior drove dramatic film maker mel s strong suit comedy subject film infamous psychotic blood drinker loosely sprinkle joke incongruous context morbid tale expect punchline scene fade expect gag exposition dracula legend expect laugh loud slapstick strained attempt reply capture youthful insouciance laurel past dance sequence dracula mina needless padding wonder cutting room floor actor vacillate parody victorian character actually play harvey korman s dr seward actual actor real dracula movie whilst steven weber s jonathan harker frequently come exaggerated english nobleman christopher lee film peter macnichol perfect renfield dracula film spoof actor truly nail role blunt toothe parody amy yasbeck lysette anthony damn hot funny self deprecate melodrama world help chickie babe look rack paper leslie neilsen s dracula like hilarious coup mel brooks dr van helsing labor specter reputation funnyman neilsen play straight oblivious humor work actively laugh mean brooks director discern neilsen s forte discern choose neilsen play type way erroneous decision brooks van helsing self aware mispronunciation sake schoolyard quote regard genuinely hilarious mel brooks grow blind comedy boat leave onshore oblivious discernment actually think film noteworthy consider vital comedy movie s subtitle apply dead love movie maniac visit world wide web thedunmore com poffy moviereviews html
==================================================
Original Review Details:
MR. HOLLAND'S OPUS **** Director Stephen Herek and script-writer Patrick Sheane Duncan create a motion picture that is original, insightful, and thoroughly entertaining with 'Mr. Holland's Opus'. We follow the story of a young piano composer (Richard Dreyfuss), whose love for music leads him to become a music teacher. He inspires a love of music and artistic freedom in his students in the different seasons of his career while he deals with hardships at home. The story's memorable ending excellently closes this wonderfully engendered film. Alicia Witt, Terrence Howard, and Jean Louisa Kelly are the three particular students Dreyfuss connects with throughout his career, and Glenne Headly plays his wife. A winner.

Lemmatized Review Details:
mr holland s opus director stephen herek script writer patrick sheane duncan create motion picture original insightful thoroughly entertain mr holland s opus follow story young piano composer richard dreyfuss love music lead music teacher inspire love music artistic freedom student different season career deal hardship home story s memorable ending excellently close wonderfully engender film alicia witt terrence howard jean louisa kelly particular student dreyfuss connect career glenne headly play wife winner
==================================================
Original Review Details:
I only hired this movie because Johnny Depp and the great Christopher Walken are in this movie and i thought the movie would be a bit crap but it turned out to be really good.The movies about a man (Depp) who just got off a train with his daughter and a man (Walken) and a woman (Roma Maffia) kidnap his daughter and give him a gun and tell him he has to kill the Governor (Marsha Mason)with in an hour and a half or his daughter will be killed.This film also stars Charles S. Dutton from the films Gothika,A Time To Kill,Mimic and Black Dog and nick of time is by far one of his best movies.Over all this movie is good and it keep me entertained from start to finish and my rating is 6 out of 10.

Lemmatized Review Details:
I hire movie johnny depp great christopher walken movie I think movie bit crap turn good movie man depp train daughter man walken woman roma maffia kidnap daughter gun tell kill governor marsha mason hour half daughter kill film star charles s dutton film gothika time kill mimic black dog nick time far good movie movie good I entertain start finish rating
==================================================
Original Review Details:
The polar icecaps have melted, all land has been lost below the rising waves and man has had to adapt to a new world where the survivors live wholly on the sea. Mankind now exists within several key groups: slavers, smokers, small communities and lone sailors who trade their way as they go. One such trader is the Mariner, a tough, lone man who mistrusts everyone Â– a mistrust that is proved correct when a community spots he is also a mutant and sentences him to death. Before it can be carried out though, the Smokers attack and the Mariner is able to escape thanks to a woman and a little girl. However the little girl also happens to "be" the only existing map to dry land and the Mariner finds himself pursued by the Smokers.Everyone knows that the critics had buried this one before it even reached a single screen. It is rare for critics to see horrible movies Â– few of these make it to the cinema Â– so whenever they get the chance to write a scathing review, they tend to take it and run with it. However as the critics moved onto the bandwagons of other years, Waterworld has been left to stand for itself and be judged on its own merits. When you look at it as it actually is, the film just sits as an OK blockbuster, nothing more but certainly nothing less either. The plot is a cross between Mad Max on water and the standard "tough guy coming to love little kid" things that provides a plot driver and supposedly an emotional way in. In creating a good story, it doesn't really manage it because it is too full of holes and lacks a real sense of engaging motion and characters but then, isn't that something you could say of many blockbusters.The creation of its own future is pretty well done and it all looks good even if it does lack any sense of logic. Again, I don't understand why it got such a kicking because to my eye it looked pretty good considering the challenges of shooting on water. Too many lazy reviewers (professional and amateur alike) have jumped on the "all at sea" line when talking about the performances and, although few are that great, lazy joking is rather a critique. Costner goes for a dark hero but misses a bit and ends up just being a bit unrelatable until his predictable sea change (sorry) at the end. He is still OK but didn't help me get into the characters. Tripplehorn is basic and her character could have easily been played by anyone. Majorino is annoying of course but then she is a typical cute kid role and nothing more. Hopper at least has fun and he does add a bit of enjoyment to the film where the others are forced to treat the material a bit more seriously; the film's high points generally come when he is on screen. The rest of the cast fill the space but don't do a great deal else but then, like many blockbusters, this is not an actor's film.Overall then, critically mauled and great fun for critics of the time but in essence it is just another in a long line of average blockbuster movies. The cast aren't great, the story is so-so, the action is enjoyable and the design of it looks good (albeit a bit too much indebted to Mad Max). Nothing special about it and mostly memorable for the kicking it unjustly received but if you are looking for an apocalyptic summer blockbuster then there is no reason why this shouldn't do the job.

Lemmatized Review Details:
polar icecap melt land lose rise wave man adapt new world survivor live wholly sea mankind exist key group slaver smoker small community lone sailor trade way trader mariner tough lone man mistrust mistrust prove correct community spot mutant sentence death carry smoker attack mariner able escape thank woman little girl little girl happen exist map dry land mariner find pursue smoker know critic bury reach single screen rare critic horrible movie cinema chance write scathing review tend run critic bandwagon year waterworld leave stand judge merit look actually film sit okay blockbuster certainly plot cross mad max water standard tough guy come love little kid thing provide plot driver supposedly emotional way create good story manage hole lack real sense engage motion character blockbuster creation future pretty look good lack sense logic I understand kicking eye look pretty good consider challenge shoot water lazy reviewer professional amateur alike jump sea line talk performance great lazy joking critique costner dark hero miss bit end bit unrelatable predictable sea change sorry end okay help I character tripplehorn basic character easily play majorino annoying course typical cute kid role hopper fun add bit enjoyment film force treat material bit seriously film s high point generally come screen rest cast fill space great deal like blockbuster actor s film overall critically mauled great fun critic time essence long line average blockbuster movie cast great story action enjoyable design look good albeit bit indebted mad max special memorable kicking unjustly receive look apocalyptic summer blockbuster reason job
==================================================
Original Review Details:
The movie is about a quick-draw contest in a small western town run by a gunslinger named John Herod(Gene Hackman). The Lady(Sharon Stone), The Kid(Leonardo DiCaprio), and a retired gunslinger by the name of Cort(Russel Crowe) are all contestants against each other, greedy idiots, and John Herod who has surprisingly signed himself up for the tournament.The movie is very entertaining and fast paced. The acting is above-average, the writing is decent, but the idea of this quick-contest in a small town was just a great idea. Its very fresh and original. I enjoyed the movie although it wasn't done amazingly well. Overall, its an exciting movie and is just a fun movie.I recommend this movie.

Lemmatized Review Details:
movie quick draw contest small western town run gunslinger john herod gene hackman lady sharon stone kid leonardo dicaprio retire gunslinger cort russel crowe contestant greedy idiot john herod surprisingly sign tournament movie entertaining fast pace acting average writing decent idea quick contest small town great idea fresh original I enjoy movie amazingly overall exciting movie fun movie I recommend movie
==================================================

## Model Creation

## Model Evaluation

## References
- https://medium.com/analytics-vidhya/text-preprocessing-nlp-basics-430d54016048
- https://towardsdatascience.com/how-to-preprocess-social-media-data-and-text-messages-b011efacf74
- https://towardsdatascience.com/5-lesser-known-python-libraries-for-your-next-nlp-project-ff13fc652553
- https://medium.com/coinmonks/remaking-of-shortened-sms-tweet-post-slangs-and-word-contraction-into-sentences-nlp-7bd1bbc6fcff
- https://sunscrapers.com/blog/9-best-python-natural-language-processing-nlp/
- https://towardsdatascience.com/stemming-vs-lemmatization-2daddabcb221
- https://www.machinelearningplus.com/nlp/lemmatization-examples-python/#google_vignette
- https://atilaycemsamiloglu.medium.com/what-is-lemmatization-2d7a87f42c55
- https://support.prodi.gy/t/how-to-tell-spacy-not-to-split-any-intra-hyphen-words/1456